.optional_address_block{class: form_class}
  .row
    .col-md-4
      %h5.zero-letter-spacing.text-left.margin-top-30.extra-small{:for => "standard_order_phone"} Москва или область?
      .margin-top-15
        - if peterburg
          #region_input
            .col-md-6.no-left-padding-margin.text-left
              .radio-wrapper
                .uzhin_rb_menus
                  =f.radio_button :delivery_region, "С-Петербург", hidden: true, id: "delivery_region_1"
                  %label{id: "delivery_region_1", :for => "delivery_region_1"} С-Петербург
            .col-md-6.no-right-padding-margin.text-right
              .radio-wrapper
                .uzhin_rb_menus
                  =f.radio_button :delivery_region, "Ленинградская область", hidden: true, id: "delivery_region_2"
                  %label{id: "delivery_region_2", :for => "delivery_region_2"} Ленинградская область
        - else
          #region_input
            .col-md-6.no-left-padding-margin.text-left
              .radio-wrapper
                .uzhin_rb_menus
                  =f.radio_button :delivery_region, "Москва", hidden: true, id: "delivery_region_1"
                  %label{id: "delivery_region_1", :for => "delivery_region_1"} Москва
            .col-md-6.no-right-padding-margin.text-right
              .radio-wrapper
                .uzhin_rb_menus
                  =f.radio_button :delivery_region, "Московская область", hidden: true, id: "delivery_region_2"
                  %label{id: "delivery_region_2", :for => "delivery_region_2"} Московская область

  .row
    .col-md-6
      #city_input
        .text-wrapper
          %label.h5.zero-letter-spacing.text-left.extra-small{:for => "city"} Город
          .uzhindoma-input
            =f.text_field :city, data: { constraints: "@NotEmpty"}, id: "city"
  .row
    .col-md-6
      #street_input
        .text-wrapper
          %label.h5.zero-letter-spacing.text-left.extra-small{:for => "street"} Улица
          .uzhindoma-input
            =f.text_field :street, data: { constraints: "@NotEmpty"}, id: "street"
  .row
    .col-md-6
      #house_input
        .text-wrapper
          %label.h5.zero-letter-spacing.text-left.extra-small{:for => "house_number"} Дом
          .uzhindoma-input
            =f.text_field :house_number, data: { constraints: "@NotEmpty"}, id: "house_number"
  .row
    .col-md-6
      #flat_input
        .text-wrapper
          %label.h5.zero-letter-spacing.text-left.extra-small{:for => "flat_number"} Квартира
          .uzhindoma-input
            =f.text_field :flat_number, data: { constraints: "@NotEmpty"}, id: "flat_number"

  .row
    .col-md-6
      #add_address_input
        .text-wrapper
          %label.h5.zero-letter-spacing.text-left.extra-small{:for => "flat_number"} Подъезд, Этаж, Код домофона
          .uzhindoma-input
            =f.text_field :additional_address, data: { constraints: "@NotEmpty"}, id: "add_address"
.row
  .col-md-6
    %h5.zero-letter-spacing.margin-top-30.text-left.extra-small Интервал доставки
    .row
    #delivery-container
      .radio-wrapper
        .uzhin_rb_menus
          =f.radio_button :delivery_timeframe, "9:00-12:00", hidden: true, id: "delivery_timeframe1"
          %label{id: "delivery_timeframe1", :for => "delivery_timeframe1"} 9:00 - 12:00
      .radio-wrapper
        .uzhin_rb_menus
          =f.radio_button :delivery_timeframe, "11:00-14:00", hidden: true, id: "delivery_timeframe2"
          %label{id: "delivery_timeframe2", :for => "delivery_timeframe2"} 11:00 - 14:00
      .radio-wrapper
        .uzhin_rb_menus
          =f.radio_button :delivery_timeframe, "17:00-20:00", hidden: true, id: "delivery_timeframe3"
          %label{id: "delivery_timeframe3", :for => "delivery_timeframe3"} 17:00 - 20:00
      .radio-wrapper
        .uzhin_rb_menus
          =f.radio_button :delivery_timeframe, "20:00-23:00", hidden: true, id: "delivery_timeframe4"
          %label{id: "delivery_timeframe4", :for => "delivery_timeframe4"} 20:00 - 23:00
      .radio-wrapper
        .uzhin_rb_menus
          =f.radio_button :delivery_timeframe, "Любое", hidden: true, id: "delivery_timeframe5"
          %label{id: "delivery_timeframe5", :for => "delivery_timeframe5"} Любое
      %span.stretch
.row
  .col-md-6
    %label.h5.zero-letter-spacing.text-left.extra-small{:for => "area"} Комментарии к заказу
    =f.text_area :comment, id: "area", cols: "50", rows: 3, placeholder: "Напишите здесь, если хотите заменить свинину на курицу в стандартном меню.\n\rТакже здесь можно указать просьбу не звонить в дверь, дополнительный номер телефона, пожелания и вопросы к заказу"
.row
  .col-md-6
    .text-wrapper
      %label.h5.zero-letter-spacing.text-left.extra-small{:for => "street"} Промокод
      .uzhindoma-input
        =f.text_field :pcode, id: "promocode", placeholder: "Промокод (уточнаяйте у мендежера) на скидку 500 рублей."
