%section.g-section.m-section.m-section_top-bg
  .g-wrapper
%section.g-section
  .g-wrapper.g-info
    %h2.g-title
      %span.g-title__text Оплата заказа
    .g-info__wrapper
      %p.g-info-text
        Итоговая сумма заказа
      %p.g-price.g-rub
        =@order.order_price
      %h3.g-price-title Тип оплаты
      =form_for @order, html: { class: "g-form g-form_checkout" } do |f|
        =f.hidden_field :payed_online, value: false, id: "order_payed_online"
        =hidden_field_tag "order_price", @order.order_price
        =hidden_field_tag "order_id", @order.id
        %fieldset.g-fieldset
          =f.radio_button :pay_type, "Наличными курьеру", id: "cash", class: "g-input_hide"
          %label.g-input-radio{:for => "cash"} Наличными курьеру

          =f.radio_button :pay_type, "Картой онлайн", id: "transfer", class: "g-input_hide"
          %label.g-input-radio{:for => "transfer"} Картой онлайн
        %fieldset.g-fieldset.g-fieldset_buttons
          %a.g-btn.g-btn_gray.g-btn_gray_clear{:href => "/dinner"} Отменить заказ
          =f.submit "Завершить заказ", class: "g-btn g-btn_blue"
        #notifications
