
%main.page-content
  =form_for @order do |f|
    .row
      %section
        %h3.zero-letter-spacing Оформление заказа
        .col-md-8.col-md-offset-2.margin-top-30
          .row
            .col-md-4
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "first_name"} Имя
                =f.text_field :name, data: { constraints: "@NotEmpty"}, id: "first_name"

            .col-md-4
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "standard_order_phone"} Телефон
                =f.text_field :phone, data: { constraints: "@Phone"}, id: "standard_order_phone"

            .col-md-4
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "email"} E-mail
                =f.text_field :email, data: { constraints: "@NotEmpty @Email"}, id: "email"
          .row
            .col-md-3
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "street"} Улица
                =f.text_field :street, data: { constraints: "@NotEmpty"}, id: "street"
            .col-md-3
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "house_number"} Номер дома
                =f.text_field :house_number, data: { constraints: "@NotEmpty"}, id: "house_number"
            .col-md-3
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "korpus"} Корпус/строение
                =f.text_field :korpus, id: "korpus"
            .col-md-3
              .text-wrapper
                %label.h4.zero-letter-spacing{:for => "flat_number"} Квартира
                =f.text_field :flat_number, data: { constraints: "@NotEmpty"}, id: "flat_number"
          .row
            %h3.zero-letter-spacing.text-center.margin-top-30 Интервал доставки
            .col-md-10.col-md-offset-1.margin-top-30
              .col-md-3
                .radio-wrapper
                  .uzhin_rb_menus
                    =f.radio_button :delivery_timeframe, "9:00 - 13:00", hidden: true, id: "delivery_timeframe1"
                    %label{id: "delivery_timeframe1", :for => "delivery_timeframe1"} 9:00 - 13:00
              .col-md-3
                .radio-wrapper
                  .uzhin_rb_menus
                    =f.radio_button :delivery_timeframe, "13:00 - 17:00", hidden: true, id: "delivery_timeframe2"
                    %label{id: "delivery_timeframe2", :for => "delivery_timeframe2"} 13:00 - 17:00
              .col-md-3
                .radio-wrapper
                  .uzhin_rb_menus
                    =f.radio_button :delivery_timeframe, "17:00 - 21:00", hidden: true, id: "delivery_timeframe3"
                    %label{id: "delivery_timeframe3", :for => "delivery_timeframe3"} 17:00 - 21:00
              .col-md-3
                .radio-wrapper
                  .uzhin_rb_menus
                    =f.radio_button :delivery_timeframe, "21:00 - 24:00", hidden: true, id: "delivery_timeframe4"
                    %label{id: "delivery_timeframe4", :for => "delivery_timeframe4"} 21:00 - 24:00

          .row
            .text-wrapper
              %label.h4.zero-letter-spacing.text-center.margin-top-30{:for => "area"} Комментарии к заказу
              =f.text_area :comment, id: "area", cols: "50", rows: 5, placeholder: "Код домофона, не звонить в дверь, дополнительный номер телефона, пожелания и вопросы к заказу"
          
          .row
            =f.submit "Готово!", class: "btn btn-success-mod-uzhindoma margin-bottom-60"
                      
