%main.page-content
  .row
    %section
      %h3.zero-letter-spacing Списки закрыты :(
      .col-xs-12.col-md-10.col-md-offset-1
        %h5.zero-letter-spacing.text-left.margin-top-30
          На этой неделе мы уже закрыли списки заказов. 
        %h5.zero-letter-spacing.text-left.margin-top-30.small
          Но мы записали ваш телефон и если появится свободный набор, то менеджер свяжется с вами. Мы такжи поставили вас в очередь на набор следующей недели.