%section.g-section.m-section.m-section_top-bg
  .g-wrapper
%section.g-section
  .g-wrapper.g-info
    %h2.g-title
      %span.g-title__text Спасибо, ваш заказ принят
    .g-info__wrapper
      %p.g-info-text
        ="Мы отправили вам письмо с подтверждением заказа на адрес #{@order.email}"
      %p.g-info-text
        Если вы не получили письмо, пожалуйста, проверьте папку «cпам».
        %br>/
        Номер вашего заказа:
        = succeed "." do
          %span.g-bolder=@order.id
      %p.g-info-text
        ="Время доставки выбрано - #{@order.delivery_timeframe}."
      %p.g-info-text
        В субботу вы получите смс с подтверждением времени доставки.
        %br>/
        Если у вас есть вопросы, свяжитесь с нами:
        %a.g-info-link.g-bolder{:href => "tel:#{Setting.first.phone}"}=Setting.first.phone
        (WhatsApp).
    %a.g-btn.g-btn_transparent{:href => "/"} На главную
