%h1
  Привет, это я, робот Ужина Дома!

%p
  Клиент хотел оставить на сайте заказ, но по его номеру телефона я нашел несколько клиентов в Битриксе.
  Я конечно взял последнего из списка, но я думаю вам стоит проверить базу!
%p
  Вот его телефон:
  = @phone
%p
  А вот айдишники повторных клиентов:
  %ul
    -@client_data.each do |client|
      %li
        =client["ID"]
  Надеюсь, это поможет устранить дубли!
%small Я убежал)