%section.g-section.h-section.h-section_map
  .g-wrapper
    %h2.g-title.g-title_small
      %span.g-title__text Доставка и оплата
    #h-map.h-map-wrapper
    .h-info
      %p.h-info__text Мы БЕСПЛАТНО доставляем наборы по Москве и Московской области. Зона доставки обозначена на карте.
      %p.h-info__text Курьер привезет ваш набор в воскресенье. Вы можете выбрать удобный интервал времени при оформлении заказа.
      %a.g-btn.g-btn_blue.h-info__button{:href => "/dinner"} Хочу набор
      %p.h-info__subtext Вы можете оплатить набор наличными курьеру или банковской картой онлайн.
