%section.g-section.h-section.h-section_partners
  .g-wrapper
    %h2.g-title.g-title_small
      %span.g-title__text Наши поставщики
    #partners-slider.h-partners
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/miratorg_gray.png", class: "h-partners__img"
          =image_tag "partners/miratorg.png", class: "h-partners__img h-partners__img_color"
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/petruha_gray.png", class: "h-partners__img"
          =image_tag "partners/petruha.png", class: "h-partners__img h-partners__img_color"

      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/neptun_gray.png", class: "h-partners__img"
          =image_tag "partners/neptun.png", class: "h-partners__img h-partners__img_color"
          
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/bird_gray.png", class: "h-partners__img"
          =image_tag "partners/bird.png", class: "h-partners__img h-partners__img_color"
          
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/white_gray.png", class: "h-partners__img"
          =image_tag "partners/white.png", class: "h-partners__img h-partners__img_color"
          
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/mistral_gray.png", class: "h-partners__img"
          =image_tag "partners/mistral.png", class: "h-partners__img h-partners__img_color"
          
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/ekomilk_gray.png", class: "h-partners__img"
          =image_tag "partners/ekomilk.png", class: "h-partners__img h-partners__img_color"
          
      .h-partners__slide
        .h-partners__img-wrapper
          =image_tag "partners/metro_gray.png", class: "h-partners__img"
          =image_tag "partners/metro.png", class: "h-partners__img h-partners__img_color"
          
