%section.g-section.h-section.h-section_way
  %ul.g-wrapper.h-way
    %li.h-way__item
      =image_tag "learn_more/way_1.png", class: "h-way__img"
      %h2.g-title.g-title_blue.h-way__title
        %span.g-title__text 1
      %p.h-way__text
        Выбирайте подходящее вам меню, количество ужинов и число персон
    %li.h-way__item
      =image_tag "learn_more/way_2.png", class: "h-way__img"
      %h2.g-title.g-title_blue
        %span.g-title__text 2
      %p.h-way__text
        В воскресенье курьер доставит набор продуктов с рецептами вам домой
    %li.h-way__item
      =image_tag "learn_more/way_3.png", class: "h-way__img"
      %h2.g-title.g-title_blue
        %span.g-title__text 3
      %p.h-way__text
        Готовьте ресторанные ужины на своей домашней кухне всю неделю
