%section.g-section.h-section.h-section_what-for
  .g-wrapper
    %h2.g-title
      %span.g-title__text Зачем вам ужин дома
    %ul.h-what-for
      %li.h-what-for__item
        =image_tag "learn_more/what-for_1.png", class: "h-what-for__img"
        %h3.h-what-for__title Вы экономите время
        %p.h-what-for__text Больше никаких списков продуктов. И очередей в магазинах. Мы привезем лучшие продукты вам домой.
      %li.h-what-for__item
        =image_tag "learn_more/what-for_2.png", class: "h-what-for__img"
        %h3.h-what-for__title Вы экономите продукты и бюджет
        %p.h-what-for__text Мы уже отмерили все ингредиенты по рецепту. Больше не нужно покупать целую упаковку, Чтобы использовать только часть.
      %li.h-what-for__item
        =image_tag "learn_more/what-for_3.png", class: "h-what-for__img"
        %h3.h-what-for__title Вкусно, как в ресторане
        %p.h-what-for__text Новые блюда и интересные сочетания продуктов! Вы легко приготовите изысканный ужин всего за 30 минут.
      %li.h-what-for__item
        =image_tag "learn_more/what-for_4.png", class: "h-what-for__img"
        %h3.h-what-for__title Безупречные продукты
        %p.h-what-for__text Мы сотрудничаем только с проверенными поставщиками и тщательно отбираем каждую морковку
      %li.h-what-for__item
        =image_tag "learn_more/what-for_5.png", class: "h-what-for__img"
        %h3.h-what-for__title Сытные порции
        %p.h-what-for__text Каждая порция весит около 450 г. Наедятся все!
