.panel-heading
  %span.panel-title Top Referals
.panel-body.pn
  %table.table.mbn.tc-med-1.tc-bold-last
    %thead
      %tr.hidden
        %th #
        %th First Name
    %tbody
      %tr
        %td
          %span.favicons.google.va-t.mr10>
          http://madeupurl.com/pictures/doors
        %td 28%
      %tr
        %td
          %span.favicons.google.va-t.mr10>
          http://secondulr.com/article/14
        %td 25%
      %tr
        %td
          %span.favicons.yahoo.va-t.mr10>
          http://urlthird.com/infogram/ten
        %td 21%
      %tr
        %td
          %span.favicons.google.va-t.mr10>
          http://fourthlink.com/boats/glass
        %td 18%
      %tr
        %td
          %span.favicons.bing.va-t.mr10>
          http://lastlink.com/thebest/ever
        %td 10%