.panel-heading
  %span.panel-title Top Geographic Sources
.panel-body.pn
  %table.table.mbn.tc-med-1.tc-bold-last
    %thead
      %tr.hidden
        %th #
        %th First Name
    %tbody
      %tr
        %td
          %span.flag-xs.flag-us.mr5.va-b>
          United States
        %td 28%
      %tr
        %td
          %span.flag-xs.flag-de.mr5.va-b>
          Germany
        %td 25%
      %tr
        %td
          %span.flag-xs.flag-fr.mr5.va-b>
          France
        %td 21%
      %tr
        %td
          %span.flag-xs.flag-tr.mr5.va-b>
          Spain
        %td 18%
      %tr
        %td
          %span.flag-xs.flag-es.mr5.va-b>
          Turkey
        %td 10%