%section.g-section.g-text-page
  .g-wrapper
    %h1.g-title
      %span.g-title__text Политика конфиденциальности

    %p Настоящая Политика конфиденциальности персональных данных (далее по тексту – Политика конфиденциальности) действует в отношении всей информации, которую сайт «Ужин Дома», расположенный на доменном имени https://uzhin-doma.ru/, может получить о Пользователя во время его использования.

    %h4 Термины и их определения
    %ul
      %li
        В настоящей политике конфиденциальности используются следующие термины:
        %ul
          %li «Администрация «Ужин Дома» (далее по тексту - Администрация сайта) - уполномоченные сотрудники на управления сайтом, действующие от имени «Ужин Дома», которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
          %li «Персональные данные» - любая информация, относящаяся прямо или косвенно к определенному или определяемому физическому лицу (субъекту персональных данных).
          %li «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
          %li «Конфиденциальность персональных данных» - обязательное для соблюдения Администрацией сайта или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
          %li «Пользователь сайта» (далее - Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт «Ужин Дома».
          %li «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
          %li «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
          %li Браузер – программное обеспечение для просмотра сайтов, то есть для запроса интернет-страниц, их обработки, вывода и перехода от одной интернет-страницы к другой.
          %li Журнал сервера – журнал, содержащий записи о страницах, запрошенных Пользователями при посещении ресурсов сайта «Ужин Дома». Записи журналов сервера включают интернет-запрос пользователя, IP-адрес, тип браузера, язык браузера, дату и время запроса и один или несколько файлов cookie, которые позволяют идентифицировать браузер Пользователя.

    %h4 Общие положения
    %ul
      %li Использование Пользователем сайта «Ужин Дома» означает его согласие с настоящей политикой конфиденциальности и условиями обработки его персональных данных.
      %li В случае несогласия с условиями настоящей Политики конфиденциальности Пользователь должен прекратить использование сайта «Ужин Дома».
      %li Данная Политика конфиденциальности распространяется непосредственно на сайт «Ужин Дома» и на информацию, получаемую с его помощью. Она не распространяется ни на какие другие сайты и не применима к веб-сайтам третьих лиц, которые могут содержать упоминание о сайте «Ужин Дома» и с которых могут делаться ссылки на Сайт, а так же ссылки с этого Сайта на другие сайты сети Интернет.
      %li Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.

    %h4 Предмет Политики конфиденциальности
    %ul
      %li Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при помощи сайта.
      %li
        Персональные данные, разращённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения формы «Заказа», «Связаться», «Отзывы» и включают в себя следующую информацию:
        %ul
          %li Имя Фамилия Пользователя;
          %li контактный телефон Пользователя;
          %li адрес электронной почты (e-mail);
          %li город проживания Пользователя;
          %li адрес проживания Пользователя.
    
    %h4 Получаемая информация
    %ul
      %li При посещении Пользователем сайта «Ужин Дома», определяется IP адрес, имя домена с которого Пользователь пришел (например, "google.ru") и страну регистрации данного ip, а так же фиксируем все переходы посетителей с одной страницы сайта на другую.
      %li Получаемые с сайта сведения, используются для того, чтобы облегчить пользование сайтом. Наш сайт собирает только общую информацию, которую браузер Пользователя предоставляет добровольно при посещении сайта.
      %li На сайте применяется стандартная технология "cookies" ("куки") при настройке стилей отображения сайта под параметры экрана монитора Пользователя. "Куки" передает данные с веб-сайта «Ужин Дома», которые сохраняются на жестком диске Вашего же компьютера Пользователя.
      %li "Cookies" содержит информацию, которая может быть необходимой для настройки сайта, - для сохранения установок Пользователя, вариантов просмотра и сбора статистической информации по сайту, т.е. какие страницы посетил Пользователь, что было загружено, имя домена Интернет-провайдера и страна посетителя, а также адреса сторонних веб-сайтов, с которых совершен переход на сайт и так далее.
      %li Также данную технологию использует установленные на сайте счетчики компании Yandex/Rambler/Google/Mail/Roistat и т.п.
      %li Технология "Cookies" не содержит никаких личных сведений о Пользователе. При просмотре материал без "cookies", Пользователю необходимо перенастроить свой браузер так чтобы, он не принимала "cookies", или уведомлял Пользователя об их посылке. Подробно о работе “cookies” файлов Пользователь можете ознакомиться по адресу: http://ru.wikipedia.org/wiki/HTTP_cookie.
      %li Сайт «Ужин Дома» использует стандартные возможности (журналы) веб-сервера для подсчета количества посетителей и оценки технических возможностей хост-сервера, рейтинги и счетчики посещаемости от сторонних организаций (yandex.ru, google.ru и др.). Данная информация необходима для определения количества посетителей сайта и расположения страниц наиболее удобным для пользователей способом, обеспечения соответствия сайта с используемыми Пользователями браузером, и делает содержание сайта максимально полезным для посетителей. Так же фиксируется сведения по перемещению на сайте, но не об отдельных посетителях сайта, таким образом, никакая личная информация Пользователя не сохраняется и не используется Администрацией Сайта без Вашего согласия
      %li Сайт «Ужин Дома» собирает Персональные данные от Пользователя, только при заполнении форм на сайте, указанных в п. 3.2. настоящей Политики конфиденциальности. У любого Пользователя имеется возможность анонимного посещения сайта.
      %li Персональные данные Пользователя, собирается только при добровольном предоставлении. Пользователь всегда имеет возможность отказаться от предоставления личной идентификационной информации, за исключением случаев, когда это может помешать пользоваться отдельными функциями сайта.

    %h4 Цели сбора персональной информации пользователя
    %ul
      %li
        Полученные от Пользователя персональные данные используются в следующих целях:
        %ul
          %li Идентификация Пользователя на сайте;
          %li Проведение рекламных кампаний;
          %li Обработки заказа на сайте Ужин Дома;
          %li Для улучшения сайта. Мы можем использовать обратную связь, которую Пользователь предоставляет, чтобы улучшить наши продукты и услуги;
          %li Для осуществления деятельности по продвижению услуг;
          %li Для подготовки индивидуальных предложений;
          %li Для проведения статистических и иных исследований;
          %li Для информирования Пользователя о специальных предложениях, присылая на указанный при регистрации номер телефона и адрес электронный почты информационные сообщения.

    %h4 Сроки и способы обработки персональной информации
    %ul
      %li Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
      %li Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.

    %h4 Обязательства сторон
    %ul
      %li
        Пользователь обязан:
        %ul
          %li Предоставлять достоверную информацию о персональных данных и необходимую для пользования услугами сайта;
          %li Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации (в случае необходимости).
      %li
        Администрация сайта обязана:
        %ul
          %li Использовать полученную информацию исключительно для целей, указанных в п. 5 настоящей Политики конфиденциальности.
          %li Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя.
          %li Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
          %li Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя, или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.

    %h4 Гарантии
    %ul
      %li «Ужин Дома» ответственно относится к вопросу конфиденциальности своих Пользователей и уважает право каждого Пользователя сайта на конфиденциальность.
      %li «Ужин Дома» гарантирует, что никакая полученная от Вас информация никогда и ни при каких условиях не будет предоставлена третьим лицам без Вашего согласия, за исключением случаев, предусмотренных действующим законодательством Российской Федерации.
      %li «Ужин Дома» не продает, не обменивает или не передаем в аренду информацию о Пользователе.
      %li «Ужин Дома» может предоставлять общие агрегированные демографические данные, не связанные с личной информацией Пользователя.
      %li «Ужин Дома» гарантирует, что персональные данные, предоставляемые Пользователем, будут обрабатываться в строгом соответствии с действующим законодательством. При обработке персональных данных Пользователей «Ужин Дома» руководствуется Федеральным законом № 152-ФЗ РФ «О персональных данных» от 27 июля 2006 г.

    %h4 Ответственность сторон
    %ul
      %li Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации.
      %li
        В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация.
        %ul
          %li Стала публичным достоянием до её утраты или разглашения;
          %li Была получена от третьей стороны до момента её получения Администрацией сайта;
          %li Была разглашена с согласия Пользователя.

    %h4 Споры и их разрешение
    %ul
      %li До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
      %li Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
      %li При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Российской Федерации.
      %li К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Российской Федерации.

    %h4 Дополнительные условия
    %ul
      %li Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
      %li Новая Политика конфиденциальности вступает в силу с момента ее размещения на сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.
      %li Действующая Политика конфиденциальности размещена на страницах сайта по адресу http://www.uzhin-doma.ru/confidential.

    %h4 Обратная связь. Вопросы и Предложения:
    %p «Ужин Дома» готовы рассмотреть все предложения или вопросы Пользователя по поводу настоящей Политики конфиденциальности по следующим реквизитам:
    %p E-mail: info@uzhindoma.ru

