%section.g-section.g-text-page
  .g-wrapper
    %h1.g-title
      %span.g-title__text Контакты
    %p
      %b
        Хотите работать в нашей команде?
      %br/
    %p
      Вы можете ознакомиться с открытыми вакансиями и оставить свой отклик здесь:
      %br/
      %a.g-link{:href => "http://hh.ru/employer/1642130", :target => "_blank"} http://hh.ru/employer/1642130
      %br/
    %p
      Или отправьте свое резюме и сопроводительное письмо сюда:
      %br/
      %a.g-link{:href => "mailto:rabota@uzhindoma.ru"} rabota@uzhindoma.ru
    %p
      %b Сотрудничество с нами:
      %a.g-link{:href => "mailto:smm@uzhindoma.ru"} smm@uzhindoma.ru
      %br/
    %p
      %b Предложения по закупкам:
      %a.g-link{:href => "zakupka@uzhindoma.ru"} zakupka@uzhindoma.ru
      %br/
    %p
      %b Хотите написать письмо бренд-шефу Елене Чазовой?
      %br/
      %a.g-link{:href => "mailto:lena@uzhindoma.ru"} lena@uzhindoma.ru
      %br/
    %p
      %b По всем вопросам о заказах и меню:
      %br/
      WhatsApp
      %a.g-link{:href => "tel:79161704385"} +7 (916)1704385
      %br/
      %a.g-link{:href => "mailto:info@uzhindoma.ru"} info@uzhindoma.ru
