%section.g-section.g-text-page
  .g-wrapper
    %h1.g-title
      %span.g-title__text Контакты
    %p
      %b
        Хотите работать в нашей команде?
      %br/
    %p
      Вы можете ознакомиться с открытыми вакансиями и оставить свой отклик здесь:
      %br/
      %a.g-link{:href => "http://hh.ru/employer/1642130", :target => "_blank"} http://hh.ru/employer/1642130
      %br/
    %p
      Или отправьте свое резюме и сопроводительное письмо сюда: 
      %br/
      %a.g-link{:href => "mailto:hr.uzhindoma@gmail.com"} hr.uzhindoma@gmail.com
    %p
      %b Сотрудничество с нами:
      %a.g-link{:href => "mailto:pr.uzhindoma@gmail.com"} pr.uzhindoma@gmail.com
      %br/
    %p
      %b Предложения по закупкам:
      %a.g-link{:href => "zakupka.uzhindoma@gmail.com"} zakupka.uzhindoma@gmail.com
      %br/
    %p
      %b По всем вопросам о заказах и меню:
      %br/
      WhatsApp
      %a.g-link{:href => "tel:79161704385"} +7 (916)1704385