/ Rendering sections

=render partial: "front/static_pages/home_sections/main"

=render partial: "front/static_pages/home_sections/how"

=render partial: "front/static_pages/home_sections/video"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/home_sections/menu"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/home_sections/reviews"  

%section.g-section.g-section_hr
  .g-wrapper

