/ Rendering sections

=render partial: "front/static_pages/sections/main"

=render partial: "front/static_pages/sections/how"

=render partial: "front/static_pages/sections/video"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/sections/menu"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/sections/reviews"  

%section.g-section.g-section_hr
  .g-wrapper

