%section.section
	.container
		%h2 Давайте знакомиться!
		%hr
			%p.h5.fw-l
				Привет! Меня зовут Лена и я создатель этой компании.
				%br.visible-lg С нашими ужинами я помогу вам сэкономить время и деньги. Проверено :)
			.row.clearleft-custom.flow-offset-1.offset-1
				.media-mod-3
					.col-xs-12.col-sm-6.col-lg-6
						.media-left
							=image_tag "placeholder_images/lena.jpg", width: 400
							
					.col-xs-12.col-sm-6.col-lg-6
						.media-body.text-sm-left
							%p Теперь я буду заботиться о вашем ужине. Подберу рецепты и качественные продукты. Вы всегда можете обратиться ко мне за кулинарной помощью. Моя мечта, чтобы каждую семью ждал вкусный ужин дома. Давайте готовить вместе!

%section.section.section-inset-1.bg-primary
	.container
		%h2.text-center Актуальное меню 
		%hr
			-if @current_menus.empty?
				.col-xs-12.col-sm-12.col-lg-12
					.thumbnail.thumbnail-mod-1
						%span.icon.icon-success.icon-lg.icon-mod-1.fa-cutlery
						.caption.text_center
							%h4
								Извините!
							%p Что-то пошло не так и меню текущей неделе потерялось на нашей кухне. Мы очень быстро это поправим, обещаем :)
			-else
				.responsive-tabs.horizontal-tabs.offset-5
					%ul.resp-tabs-list
						-@current_menus.each do |menu|
							%li.btn.btn-success-mod-1
								=menu.category.name
					.resp-tabs-container
						-@current_menus.each do |menu|
							.text-sm-left.fadeIn.animated
								.owl-carousel-home{"data-dots" => "true", "data-loop" => "true"}
									-menu.recipes.each do |recipe|
										.owl-item
											.row.flow-offset-1
												=image_tag recipe.pictures.first.image.url
		=link_to 'Заказать ужин', dinner_index_path, class: "btn btn-success-mod-1"
			

%section.section.section-inset-2
	.container-fluid
		%h2.text-center Наш инстаграм
		%hr
			.row
				.isotope.offset-1.masonry-gallery.row{"data-isotope-group" => "gallery", "data-isotope-layout" => "masonry", "data-lightbox" => "gallery"}
					-@instagram.each do |instagram|
						.thumbnail-gallery.isotope-item.col-xs-12.col-sm-6.col-md-3{"data-filter" => "type-1"}
							%a{"data-lightbox" => "image", :href => instagram.images.standard_resolution.url}
								%img{:alt => "", :src => instagram.images.low_resolution.url}
									.caption
										.caption-wrapper
											%span.icon.icon-md.icon-white.fa-search-plus
											%h4.text-white
												=instagram.tags
											%p.text-white
												=instagram.caption.text