/ Rendering all section from /front/static_pages/learn_more_sections

=render partial: "front/static_pages/learn_more_sections/main"

=render partial: "front/static_pages/learn_more_sections/way"

=render partial: "front/static_pages/learn_more_sections/video"

=render partial: "front/static_pages/learn_more_sections/what_for"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/learn_more_sections/choose"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/learn_more_sections/partners"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/learn_more_sections/map"

%section.g-section.g-section_hr
  .g-wrapper

=render partial: "front/static_pages/learn_more_sections/team"

%section.g-section.g-section_hr
  .g-wrapper