%section.section
	.container
		%h2 Доставка и оплата
		%hr
		/ Owl Carousel
		.row
			.col-md-6
				.owl-carousel{"data-dots" => "true", "data-items" => "1", "data-loop" => "tue", "data-margin" => "30"}
					.owl-item
						.row.text-sm-left
							.col-xs-12.col-lg-12
								.media.bg-light.media-mod-2
									.media-left
										=image_tag "placeholder_images/team-1.jpg"
									.media-body
										%h6.text-success Петр Иванов
										%span.text-gray Курьер
										%p Петя заботится о том, что бы ваш заказ был всегда доставлен вовремя!
										%ul.list-inline
											%li
												%a.fa-facebook{:href => "#"}
											%li
												%a.fa-twitter{:href => "#"}
											%li
												%a.fa-pinterest-p{:href => "#"}
											%li
												%a.fa-vimeo{:href => "#"}
											%li
												%a.fa-google{:href => "#"}
					.owl-item
						.row.text-sm-left
							.col-xs-12.col-lg-12
								.media.bg-light.media-mod-2
									.media-left
										=image_tag "placeholder_images/team-2.jpg"
									.media-body
										%h6.text-success Sam Kromstain
										%span.text-gray Team Lead
										%p Sam has been building startups in New York City for several years and now he is working with us.
										%ul.list-inline
											%li
												%a.fa-facebook{:href => "#"}
											%li
												%a.fa-twitter{:href => "#"}
											%li
												%a.fa-pinterest-p{:href => "#"}
											%li
												%a.fa-vimeo{:href => "#"}
											%li
												%a.fa-google{:href => "#"}
			.col-lg-6
				%section
					%h6 Расценки доставки
					%ul.marked-list.text-left
						%li
							%a.text-base{:href => "#"} Москва и область - бесплатно
						%li
							%a.text-base{:href => "#"} Тула - 500 рублей
						%li
							%a.text-base{:href => "#"} Нижний Новгород - 1000 рублей
%section.section.section-inset-1.bg-primary
	.container
		%h2.text-center зоны доставки
		%hr
			.row
				.col-xs-12.col-sm-12.col-md-6.text-center.text-md-left
					%img{:alt => "", :src => "images/index-1.jpg"}/
				.col-xs-12.col-sm-12.col-md-6.text-md-left.well1
					%p We are a studio that aims to make our users experience easier and much more pleasant.
					%p You probably won't have a better opportunity to make sure of our competence, as well as friendliness towards our customers.
					.progress-container
						%p.font-secondary.h6 Social Media Marketing
						/ Progress Bar
						.progress-bar.progress-bar-horizontal.progress-bar-default{"data-counter" => "true", "data-duration" => "1000", "data-easing" => "linear", "data-stroke" => "10", "data-value" => "50"}
						%p.font-secondary.h6 Design
						.progress-bar.progress-bar-horizontal.progress-bar-default{"data-counter" => "true", "data-duration" => "1000", "data-easing" => "linear", "data-stroke" => "10", "data-value" => "90"}
						%p.font-secondary.h6 Consulting
						.progress-bar.progress-bar-horizontal.progress-bar-default{"data-counter" => "true", "data-duration" => "1000", "data-easing" => "linear", "data-stroke" => "10", "data-value" => "80"}
						%p.font-secondary.h6 Bounce Rate
						.progress-bar.progress-bar-horizontal.progress-bar-default{"data-counter" => "true", "data-duration" => "1000", "data-easing" => "linear", "data-stroke" => "10", "data-value" => "20"}
			%a.btn.btn-white.btn-sm.btn-min-width{:href => "#"} learn more
%section.section.section-inset-1.bg-light
	.container
		%h2.text-center Наши поставщики
		%hr
			.row
				.col-md-6.col-xs-12
					/ Owl Carousel
					.owl-carousel.owl-carousel-mod-1{"data-autoplay" => "true", "data-dots" => "true", "data-dots-each" => "1", "data-items" => "1", "data-lg-items" => "3", "data-loop" => "true", "data-margin" => "15", "data-xs-items" => "2", "data-sm-items" => "2", "data-xs-stage-padding" => "15"}
						.owl-item
							=image_tag "placeholder_images/partner-1.png" do
								=image_tag "placeholder_images/partner-2.png"
						.owl-item
							=image_tag "placeholder_images/partner-3.png" do
								=image_tag "placeholder_images/partner-4.png"
						.owl-item
							=image_tag "placeholder_images/partner-5.png" do
								=image_tag "placeholder_images/partner-6.png"
				.col-md-6.col-xs-12
					%section
						
						%ul.marked-list.text-left
							%li
								Будте уверены в качестве!
							%li
								Только наисвежайшие продукты!
							%li
								Мы знаем своих поставщиков!
%section.section.section-inset-2
	.container
		%h2.text-center Индивидуальный подход
		%hr
			.row
				.col-md-6.col-xs-12
					=image_tag "placeholder_images/baby_face.jpg"
				.col-md-6.col-xs-12
					%section
						%ul.marked-list.text-left
							%li
								%a.text-base{:href => "#"} Рецепты подходят для детей
							%li
								%a.text-base{:href => "#"} Можно заменить мяси и аллергены
							%li
								%a.text-base{:href => "#"} Всегда подскажем, как готовить

%section.section.section-inset-1.bg-light
	.container
		%h2.text-center Наша команда
		%hr
			.row
				.col-md-6.col-xs-12
					.row.clearleft-custom.flow-offset-1
						.container-fluid
							.isotope.offset-1.isotope-no-gutter.cobbles-gallery{"data-isotope-group" => "gallery", "data-isotope-layout" => "masonry", "data-lightbox" => "gallery"}

								.thumbnail-gallery.isotope-item{"data-filter" => "type-1"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-1_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-1.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-1"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-3_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-3.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-1"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-5_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-5.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-2"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-7_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-7.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-2"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-2_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-2.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-2"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-6_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-6.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-3"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-4_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-4.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
								.thumbnail-gallery.isotope-item{"data-filter" => "type-3"}
									%a{"data-lightbox" => "image", :href => "assets/placeholder_images/gallery-8_original.jpg"}
										%img{:alt => "", :src => "assets/placeholder_images/grid-cobbles-8.jpg"}
											.caption
												.caption-wrapper
													%span.icon.icon-md.icon-white.fa-search-plus
													%h4.text-white Always a New Beginning
													%p.text-white You come up with a brilliant idea and put all your time and effort to make it come true.
				.col-md-6.col-xs-12
					%section
						
						%ul.marked-list.text-left
							%li
								%a.text-base{:href => "#"} Профессионалы
							%li
								%a.text-base{:href => "#"} Мы любим свою работу
							%li
								%a.text-base{:href => "#"} Мы заботимся о каждой морковке
							%li
								%a.text-base{:href => "#"} Вы наши лучшие друзья