%section.section
	.container
		.row
			.col-lg-7
				.media-center
					.embed-container
						=embed("https://www.youtube.com/watch?v=TrSWB6AYNKM", width: 680, height: 383)
			.col-lg-5
				%section
					.uzhindoma-list.text-left
						%ul
							%li
								Мы подбираем для вас интересные рецепты
								%br и составляем меню на неделю вперед
							%li
								Закупаем свежие продукты
								%br высочайшего качества
							%li
								Взвешиваем и отмеряем каждый ингредиент
								%br ровно в том количестве, которое нужно
								по рецепту
							%li
								Собираем набор продуктов
								%br для каждого ужина
								и доставляем к вам домой.
							%li
								Вам остается только приготовить ужин,
								%br как в ресторане, всего за 30 минут!


.uzhindoma-hr

%section.section.section-inset-1.section-padding-top
	.container
		%h2.text-center.zero-letter-spacing Зачем вам ужин дома
		.row.margin-top-30
			.col-md-12.col-xs-12
				.row
					.text-center
						=image_tag "uznat_bolshe/cooking_pot.png", width: 150, style: "margin-right: 40px;"
					.text-center
						%h4.zero-letter-spacing
							Вы экономите время
					.col-md-8.col-md-offset-3
						.text-left	
							%p
								Больше не нужно составлять списки продуктов и ходить в магазин. 
								%br Мы все сделаем за вас.
				.row
					.text-center
						=image_tag "uznat_bolshe/carrots.png", width: 150
					.text-center
						%h4.zero-letter-spacing
							Вы экономите продукты и бюджет
					.col-md-8.col-md-offset-3
						.text-left
							%p
								Мы уже отмерили все по рецепту.
								%br Не надо тратить деньги на большие упаковки, чтобы использовать только малую часть.

.uzhindoma-hr
%section.section.section-inset-1.uzhidoma-section
	.container
		.col-md-10.col-md-offset-1
			.col-md-4
				.col-md-6
					=image_tag "uznat_bolshe/tomatoes.png"
				.col-md-6
					.text-left
						.ud_mt_25
							БЕЗУПРЕЧНЫЕ
							%br ПРОДУКТЫ
			.col-md-4
				.col-md-6
					=image_tag "uznat_bolshe/cooking_hat.png"
				.col-md-6
					.text-left
						.ud_mt_25
							АВТОРСКИЕ
							%br РЕЦЕПТЫ
			.col-md-4
				.col-md-6
					=image_tag "uznat_bolshe/fish.png"
				.col-md-6
					.text-left
						.ud_mt_25
							.uzhindoma-no-wrap
								ДЕЙСТВИТЕЛЬНО
								%br СЫТНЫЕ ПОРЦИИ
								
.uzhindoma-hr

%section.section.section-inset-1.uzhidoma-section
	.container
		.col-md-6
			.text-right
				=image_tag "uznat_bolshe/kids.png", width: 400
		.col-md-6
			.margin-top-100
				.text-left
					%h4.padding-left-20.zero-letter-spacing
						Выбирайте свое меню
					.uzhindoma-list.margin-top-30
						%ul
							%li
								Стандартное для тех, кто любит посытнее
							%li
								Меню Лайф для активной жизни в большом городе
							%li
								Сногсшибательные десерты
							%li
								Наборы на 3/4/5 ужинов
							%li
								Ужин для двоих или для большой семьи
.uzhindoma-hr

%section.section.section-inset-1.section-padding-bottom-30
	.container
		.text-left
			.row
				.col-md-6
					.col-md-4
						=image_tag "uznat_bolshe/shrimps.png"
					.col-md-8
						%h4.zero-letter-spacing
							Вкусно, как в ресторане!
						%p
							Вы легко готовите изысканный ужин на своей домашней кухне всего за 30 минут
				.col-md-6
					.col-md-4
						=image_tag "uznat_bolshe/cooking_hat_2.png", width: "80%"
					.col-md-8
						%h4.zero-letter-spacing
							Кулинарный эксперимент
						%p
							Пробуйте новые блюда и интересные сочетания каждый день
			.row.margin-bottom-60
				.col-md-6
					.col-md-4
						=image_tag "uznat_bolshe/delivery.png"
					.col-md-8
						%h4.zero-letter-spacing
							Бесплатная доставка
						%p
							Мы доставляем наборы по всей Москве и даже за МКАД! А ещё у нас самые галантные курьеры в городе ;)
				.col-md-6
					.col-md-4
						=image_tag "uznat_bolshe/twentyfour.png", width: "80%"
					.col-md-8
						%h4.zero-letter-spacing
							Мы всегда рядом!
						%p
							С первого заказа у вас будет персональные кулинарный помощник в WhatsApp
			.row
				.text-center
					=link_to 'Хочу набор!', dinner_index_path, method: :get, class: "btn btn-success-mod-uzhindoma"

					%h4.zero-letter-spacing.padding-top-35
						С нами вас всегда ждет вкусный ужин дома!

.uzhindoma-hr

%section.section.section-inset-1.section-padding-top.section-padding-bottom-30
	.container
		%h2.zero-letter-spacing.text-center Наши поставщики
		.row.margin-top-30
			.row
				.col-md-12.col-xs-12
					%section
						%p.text-center.section-padding-bottom-30
							Мы сотрудничаем с проверенными и надежными поставщиками.
							Каждый продукт на нашем производстве имеет все подтверждающие документы и сертификаты качества.
							Мы заботимся не только о вашем времени, но и о вашем здоровье. Поэтому за качество продуктов несем двойную ответственность.
	.row
		.col-md-12.col-xs-12
			=image_tag "custom_images/partners.jpg"

.uzhindoma-hr

%section.section.section-inset-1.section-padding-top.section-padding-bottom
	.container
		%b
			%h2.zero-letter-spacing.text-center Доставка и оплата
		.row.margin-top-30
			.col-xs-12.col-sm-8
				#mapcontainer{style: "position: inherit; height: 500px;"}
			.col-xs-12.col-sm-4
				.row.text-left
					.uzhindoma-list
						%ul
							%li
								Мы доставляем наборы 
								%br по Москве и Московской области.
								Зону нашей доставки смотрите на карте.
								%br Доставка БЕСПЛАТНА по всем направлениям, и даже за МКАД.
							%li
								Выберите удобный вам интервал доставки:
								%br 9-12, 11-14, 17-21, 21-23.
							%li
								Вы можете оплатить набор наличными курьеру
								или банковской картой на сайте.
				
		=link_to "Хочу набор!", dinner_index_path, method: :get, class: 'btn btn-sm btn-min-width btn-success-mod-uzhindoma btn-success-mod-uzhindoma-margin'

.uzhindoma-hr

%section.section.section-inset-1.section-padding-top
	.container
		%h2.zero-letter-spacing.text-center Наша команда
		.team_row.margin-top-30
			.span12
				=content_tag(:div, id: "owl-team", class: "owl-carousel") do
					.item
						.owl-item
							.row
								=image_tag "custom_images/team1_medium.jpg"
					.item
						.owl-item
							.row
								=image_tag "custom_images/team2_medium.jpg"
					.item
						.owl-item
							.row
								=image_tag "custom_images/team3_medium.jpg"
					.item
						.owl-item
							.row
								=image_tag "custom_images/team4_medium.jpg"
