.section.section-inset-2
	%container
		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Платежи. Оплата банковской картой онлайн
				%p.text-left
					Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa или Mastercard. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Гарантии безопасности
				%p.text-left
					Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.
				%p.text-left
					В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов по электронной почте support@cloudpayments.ru.

		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Безопасность онлайн платежей
				%p.text-left
					Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
				%p.text-left
					Безопасность обработки Интернет-платежей гарантирует ООО «КлаудПэйментс». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используется специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.
				
				.row.text-center
					.partner-logo-container
						.col-md-4
							.partner-logo-item
								=image_tag "partners/logo-small.png"
						.col-md-4
							.partner-logo-item
								=image_tag "partners/vbv.png"
						.col-md-4
							.partner-logo-item
								=image_tag "partners/mastercard-securecode.png"

		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Правила доставки
				%p.text-left
					Доставка осуществляется по воскресеньям. В субботу вы получите смс о времени доставки. Не позднее, чем за полчаса до указанного времени доставки, вам поступит звонок от курьера для подтверждения вами возможности принять заказ.

		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Возврат товаров
				%p.text-left
					Постановление Правительства РФ от 19 января 1998 г. В случае обнаружения недостатков товара, свойства которого не позволяют устранить их (продовольственные товары, парфюмерно-косметические изделия, товары бытовой химии и другие товары), покупатель вправе по своему выбору потребовать замены такого товара товаром надлежащего качества либо соразмерного уменьшения покупной цены. Вместо предъявления указанных требований покупатель вправе отказаться от приобретенного товара и потребовать возврата уплаченной за товар денежной суммы. При этом покупатель по требованию продавца и за его счет должен возвратить полученный товар ненадлежащего качества.


		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Конфиденциальность
				%p.text-left
					Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.
				
				.h5.zero-letter-spacing 1. Определения
				%p.text-left
					Интернет проект http://www.uzhin-doma.ru (далее – URL, «мы») серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта http://www.uzhin-doma.ru (далее – «вы», «посетители сайта»). Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).

				.h5.zero-letter-spacing 2. Использование информации
				%p.text-left
					Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL

				.h5.zero-letter-spacing 3. Ссылки
				%p.text-left
					Сайт www.ВАШ АДРЕС САЙТА.ru может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.

				.h5.zero-letter-spacing	4. Ограничение ответственности
				%p.text-left
					Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт http://www.uzhin-doma.ru и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.


				.h5.zero-letter-spacing 5. Контакты
				%p.text-left
					По вопросам, касающимся настоящей политики, просьба обращаться по адресу uzhindoma@gmail.com адрес

		.row
			.col-xs-12.col-md-8.col-md-offset-2
				%h2.zero-letter-spacing Юридическое лицо
				%p.text-left
					Индивидуальный предприниматель 
					БРАГИН НИКИТА ИГОРЕВИЧ 
					ОГРН ИП 314547615000505 от 30.05.2014 
					ИНН 540697292323 
					630007, г. Новосибирск, ул. Серебренниковская 4/2, кв 38 
					Фактический адрес: г.Москва, ул.Буракова, д. 27 корпус 9, 
					индекс 105118 
					Расчетный счет: 40802810702420000472 
					Название Банка: АО "АЛЬФА-БАНК" 
					Кор.счет: 30101810200000000593 
					БИК банка: 044525593