%section.g-section.g-text-page
  .g-wrapper
    .g-title
      %h4="Пользовательское соглашение (публичная оферта). Договор купли-продажи товаров дистанционным способом (стандартная форма) от 15 июля 2016г. #{link_to 'word','Oferta 2016 Uzhindoma.ru.docx', target: '_blank'} | #{link_to 'pdf', 'Oferta 2016 Uzhindoma.pdf', target: '_blank'}".html_safe
    %h1.g-title
      %span.g-title__text Информация о платежах
    %h4 Оплата банковской картой в сети Интернет
    %p
      Наш сайт подключен к интернет-эквайрингу, и Вы можете оплатить Товар банковской картой Visa или Mastercard. После подтверждения выбранного Товара откроется защищенное окно с платежной страницей процессингового центра CloudPayments, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш Банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации. Информацию о правилах и методах дополнительной идентификации уточняйте в Банке, выдавшем Вам банковскую карту.
      %br/
      Представленная к оплате сумма является только стоимостью Товара.
      %br/
      Стоимость услуг (таких как доставка, сборка) взимается отдельно в момент получения Товара.
    
    %h4 Гарантии безопасности
    %p
      Процессинговый центр CloudPayments защищает и обрабатывает данные Вашей банковской карты по стандарту безопасности PCI DSS 3.0. Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. CloudPayments не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты используется протокол 3D Secure.
    %p
      В случае, если у Вас есть вопросы по совершенному платежу, Вы можете обратиться в службу поддержки клиентов по электронной почте support@cloudpayments.ru.

    %h4 Безопасность онлайн платежей
    %p
      Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
    %p
      Безопасность обработки Интернет-платежей гарантирует ООО «КлаудПэйментс». Все операции с платежными картами происходят в соответствии с требованиями VISA International, MasterCard и других платежных систем. При передаче информации используется специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.
    
    %h4 Конфиденциальность
    %p
      Федеральный закон РФ № 152-ФЗ «О персональных данных» — федеральный закон, регулирующий деятельность по обработке (использованию) персональных данных.
        
    %h5 1. Определения
    %p
      Интернет проект http://www.uzhin-doma.ru (далее – URL, «мы») серьезно относится к вопросу конфиденциальности информации своих клиентов и посетителей сайта http://www.uzhin-doma.ru (далее – «вы», «посетители сайта»). Персонифицированной мы называем информацию, содержащую персональные данные (например: ФИО, логин или название компании) посетителя сайта, а также информацию о действиях совершаемых вами на сайте URL. (например: заказ посетителя сайта с его контактной информацией). Анонимными мы называем данные, которые невозможно однозначно идентифицировать с конкретным посетителем сайта (например: статистика посещаемости сайта).

    %h5 2. Использование информации
    %p.text-left
      Мы используем персонифицированную информацию конкретного посетителя сайта исключительно для обеспечения ему качественного оказания услуг и их учета. Мы не раскрываем персонифицированных данных одних посетителей сайта URL другим посетителям сайта. Мы никогда не публикуем персонифицированную информацию в открытом доступе и не передаем ее третьим лицам Исключением являются лишь ситуации, когда предоставление такой информации уполномоченным государственным органам предписано действующим законодательством Российской Федерации. Мы публикуем и распространяем только отчеты, построенные на основании собранных анонимных данных. При этом отчеты не содержат информацию, по которой было бы возможным идентифицировать персонифицированные данные пользователей услуг. Мы также используем анонимные данные для внутреннего анализа, целью которого является развитие продуктов и услуг URL

    %h5 3. Ссылки
    %p
      Сайт www.uzhin-doma.ru может содержать ссылки на другие сайты, не имеющие отношения к нашей компании и принадлежащие третьим лицам. Мы не несем ответственности за точность, полноту и достоверность сведений, размещенных на сайтах третьих лиц, и не берем на себя никаких обязательств по сохранению конфиденциальности информации, оставленной вами на таких сайтах.

    %h5 4. Ограничение ответственности
    %p
      Мы делаем все возможное для соблюдения настоящей политики конфиденциальности, однако, мы не можем гарантировать сохранность информации в случае воздействия факторов находящихся вне нашего влияния, результатом действия которых станет раскрытие информации. Сайт http://www.uzhin-doma.ru и вся размещенная на нем информация представлены по принципу "как есть” без каких-либо гарантий. Мы не несем ответственности за неблагоприятные последствия, а также за любые убытки, причиненные вследствие ограничения доступа к сайту URL или вследствие посещения сайта и использования размещенной на нем информации.


    %h5 5. Контакты
    %p
      По вопросам, касающимся настоящей политики, просьба обращаться по адресу uzhindoma@gmail.com



    %h4 Случаи отказа в совершении платежа:
    %p
      \- банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, осведомившись в Вашем Банке;
      %br/
      \- данные банковской карты введены неверно.
      %br/
      \- Для корректного ввода необходимо внимательно и точно, соблюдая последовательность цифр и букв,
      ввести данные так, как они указаны на Вашей карте:
      %br/
      \- владелец карты (как правило, указан на лицевой стороне банковской карты на английском языке заглавными буквами. Например, IVANOV IVAN);
      %br/
      \- номер карты (как правило, указан на лицевой стороне банковской карты и состоит из 16-и цифр. Например: 0123 4567 8901 2345);
      %br/
      \- срок действия карты (как правило, указан на лицевой стороне банковской карты - месяц и год, до которого действительна карта.
      Срок действия карты вводится цифрами. Например, 12 (вводится в поле месяца) и 13 (вводится в поле года), что означает,
      что карта действительна до декабря 2013 года); г) CVV2 или CVC2 код карты (как правило, указан на обратной стороне банковской карты
      и состоит из 3-х цифр. Например, 123).
      %br/
      \- истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты
      (это месяц и год, до которого действительна карта). Подробнее о сроке действия карты Вы можете узнать, обратившись в банк,
      выпустивший банковскую карту;
      %br/
      \- недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать,
      обратившись в банк, выпустивший банковскую карту;
      %br/
      \- превышен установленный лимит операций за день. Сумма ежедневного лимита для всех операций определяется банком-партнером.
    %h4 Услуги предоставляет:
    %p
      Индивидуальный предприниматель
      %br/
      Брагин Никита Игоревич
      %br/
      ОГРН ИП 314547615000505 от 30.05.2014
      %br/
      ИНН 540697292323
      %br/
      Юридический адрес:
      %br/
      630007, г. Новосибирск,
      %br/
      ул. Серебренниковская 4/2, кв 38
      %br/
      Фактический адрес: 105118 г.Москва,
      %br/
      ул.Буракова, д. 27 корпус 9, 
      %br/
      Расчетный счет: 40802810702420000472
      %br/
      Название Банка: АО "АЛЬФА-БАНК"
      %br/
      Кор.счет: 30101810200000000593
      %br/
      БИК банка: 044525593
