%footer.g-footer
  .g-wrapper
    .g-footer__whats-up
      %a{:href => "tel:79161704385"}
        %i.g-icon.g-icon_whats-up
      %p.g-footer__text
        Напишите нам в WhatsApp!
        %br>/
        Мы на связи с 9 до 22
      %a.g-footer__phone{:href => "tel:79161704385"} +7 916 170 43 85
    .g-footer__links
      %a.g-footer__link{:href => "more-info.html"} Вопрос-ответ
      %br/
      %a.g-footer__link{:href => "hh.ru"} Вакансии
      %br/
      %a.g-footer__link{:href => "#"} Информация для клиента
      %br/
      %a.g-footer__link{:href => "#"} Контакты
      .g-footer__social
        %a.g-footer__social-link{:href => "#"}
          %i.g-icon.g-icon_inst
        %a.g-footer__social-link{:href => "#"}
          %i.g-icon.g-icon_vk
        %a.g-footer__social-link{:href => "#"}
          %i.g-icon.g-icon_fb
    .g-footer__form
      %h3.g-footer__title Хотите оставить отзыв?
      %p.g-footer__text.g-footer__text_form Напишите своё мнение создателям сервиса
      %from.g-form{:action => "#", :method => "post"}
        %input.g-form__input{:name => "name", :placeholder => "Имя", :required => "", :type => "text"}/
        %input.g-form__input{:name => "email", :placeholder => "Почта", :required => "", :type => "email"}/
        %textarea.g-form__input.g-form__input_textarea{:name => "message", :placeholder => "Ваш отзыв"}
        %input.g-btn.g-btn_blue.g-form__submit{:type => "submit", :value => "отправить"}/
