%footer.page-foot.section-inset-4.bg-primary
  %section.footer-content
    .container
      .row.text-left.clearleft-custom
        .col-xs-12.col-sm-6.col-lg-4.text-gray
          .row
            %h4
              =Setting.first.phone
          .row
            %i.fa.fa-whatsapp
            %i.fa.fa-phone
          .row
            %p мы на связи с 9 до 22

          / %ul.well6.offset-5
          /   %li
          /     =link_to Setting.first.facebook, class: 'text-gray small' do
          /       %span.icon.icon-xs.icon-info-2.fa-facebook.postfix-1>
          /       Мы на Facebook
          /   %li
          /     =link_to Setting.first.vkontakte, class: 'text-gray small' do
          /       %span.icon.icon-xs.icon-info-2.fa-vk.postfix-1>
          /       Мы вконтакте
          /   %li
          /     =link_to Setting.first.instagram, class: 'text-gray small' do
          /       %span.icon.icon-xs.icon-warning.fa-instagram.postfix-1>
          /       Мы в инстаграме

        .col-xs-12.col-sm-6.col-lg-4
          %h4 Полезные ссылки
          .blog-post
            .blog-post-title
              %a{:href => "blog-post.html"} Вопрос-ответ
          .blog-post
            .blog-post-title
              %a{:href => "blog-post.html"} Вакансии

          .blog-post
            .blog-post-title
              %a{:href => "blog-post.html"} Доставка и оплата



        .col-xs-12.col-sm-6.col-lg-4
          %h4 Ваш отзыв
          %p.text-gray Напишите нам, как мы можем улучшить наш сервис.
          / RD Mailform
          %form.rd-mailform{:action => "bat/rd-mailform.php", "data-form-type" => "subscribe", "data-result-class" => "rd-mailform-validate", :method => "post"}
            %input{"data-constraints" => "@NotEmpty @Email", :name => "email", :placeholder => "Ваша почта", :type => "text"}
            .row
            %textarea{"data-constraints" => "@NotEmpty", :name => "complaint", :placeholder => "Ваш отзыв", :type => "text"}
            %button.btn.btn-sm.btn-min-width.btn-success Отправить

  %section.copyright.bg-dark.well5
    .container
      %p.pull-sm-left
        ©
        %span#copyright-year
        Все права защищены
        %a{:href => "terms.html"} Пользовательское соглашение
      .pull-sm-right
        Вступайте в наш клуб кулинаров
        %ul.list-inline.offset-3
          %li
            =link_to '', Setting.first.facebook, class: 'fa-facebook'
          %li
            =link_to '', Setting.first.vkontakte, class: 'fa-vk'
          %li
            =link_to '', Setting.first.instagram, class: 'fa-instagram'
    / {%FOOTER_LINK}