%footer.g-footer
  .g-wrapper
    .g-footer__whats-up
      -if Setting.first
        %a{:href => "tel:#{Setting.first.phone}"}
        %i.g-icon.g-icon_whats-up
      -else
        %a{:href => "tel:"}
        %i.g-icon.g-icon_whats-up
      %p.g-footer__text
        Напишите нам в WhatsApp!
        %br>/
        Мы на связи с 10 до 22
      -  # Временно, исправить передавать city, add sity_id to settings
      -if moskva_no_subd && Setting.first
        %a.g-footer__phone{:href => "tel:#{Setting.first.phone}"}=Setting.first.phone
        -if Setting.first.address.present?
          %p.g-footer__text
            =Setting.first.address
      -else
        -if peterburg && Setting.last
          %a.g-footer__phone{:href => "tel:#{Setting.last.phone}"}=Setting.last.phone
          -if Setting.last.address.present?
            %p.g-footer__text
              =Setting.last.address
        -else
          %a.g-footer__phone{:href => "tel:"} Нет телефона

    .g-footer__links
      %a.g-footer__link{:href => "/uznat-bolshe"} Вопрос-ответ
      %br/
      %a.g-footer__link{:target => "_blank", :href => "https://hh.ru/employer/1642130"} Вакансии
      %br/
      =link_to "Информация для клиента", policy_path, class: "g-footer__link"
      %br/
      =link_to "Контакты", contacts_path, class: "g-footer__link"
      %br/
      =link_to "Политика конфиденциальности", confidentiality_path, class: "g-footer__link"

      .g-footer__social
        %a.g-footer__social-link{:href => Setting.first ? Setting.first.instagram : ''}
          %i.g-icon.g-icon_inst
        %a.g-footer__social-link{:href => Setting.first ? Setting.first.vkontakte : ''}
          %i.g-icon.g-icon_vk
        %a.g-footer__social-link{:href => Setting.first ? Setting.first.facebook : ''}
          %i.g-icon.g-icon_fb
        %a.g-footer__social-link{href: "https://www.youtube.com/channel/UCzkYh5wcACZNnL2UvMTIssQ"}
          %i.g-icon.g-icon_youtube
    .g-footer__form
      %h3.g-footer__title.g-mobile-hide Хотите оставить отзыв?
      %h3#toggle-form.g-footer__title.g-mobile
        %span.g-footer__title-style Хотите оставить отзыв?
      #footer-form-wrapper.g-footer__form-wrapper
        %p.g-footer__text.g-footer__text_form Напишите своё мнение создателям сервиса

        / ФОРМА ДЛЯ ОБРАТНОЙ СВЯЗИ
        =form_for Feedback.new, html: { class: "g-form", id: "review-form" }, remote: true do |f|
          / %form#review-form.g-form{:action => "#", :method => "post"}
          %fieldset.g-form__rating
            =f.radio_button :rating, 5, id: "star5"
            %label.full{:for => "star5", :title => "Awesome - 5 stars"}

            =f.radio_button :rating, 4.5, id: "star4half"
            %label.half{:for => "star4half", :title => "Pretty good - 4.5 stars"}

            =f.radio_button :rating, 4, id: "star4"
            %label.full{:for => "star4", :title => "Pretty good - 4 stars"}

            =f.radio_button :rating, 3.5, id: "star3half"
            %label.half{:for => "star3half", :title => "Meh - 3.5 stars"}

            =f.radio_button :rating, 3, id: "star3"
            %label.full{:for => "star3", :title => "Meh - 3 stars"}

            =f.radio_button :rating, 2.5, id: "star2half"
            %label.half{:for => "star2half", :title => "Kinda bad - 2.5 stars"}

            =f.radio_button :rating, 2, id: "star2"
            %label.full{:for => "star2", :title => "Kinda bad - 2 stars"}

            =f.radio_button :rating, 1.5, id: "star1half"
            %label.half{:for => "star1half", :title => "Meh - 1.5 stars"}

            =f.radio_button :rating, 1, id: "star1"
            %label.full{:for => "star1", :title => "Sucks big time - 1 star"}

            =f.radio_button :rating, 0.5, id: "starhalf"
            %label.half{:for => "starhalf", :title => "Sucks big time - 0.5 stars"}

          =f.text_field :name, class: "g-input g-form__input", placeholder: "Имя", value: current_user ? current_user.first_name : nil
          =f.text_field :email, class: "g-input g-form__input", placeholder: "Почта", value: current_user ? current_user.email : nil
          =f.text_area :body, class: "g-input g-form__input g-form__input_textarea", placeholder: "Ваш отзыв"
          #review-errors

          =f.submit "Отправить",  class: "g-btn g-btn_blue g-form__submit"



#review-popup.g-popup-reviews
  %a.g-popup-reviews__close
    %i.fa.fa-times{"aria-hidden" => "true"}
  .g-popup-reviews__content
    .g-popup-reviews__data
      .g-popup-reviews__info
        .g-popup-reviews__counter
          %i.fa.fa-heart-o{"aria-hidden" => "true"}
          %span#likes.g-popup-reviews__count
        .g-popup-reviews__counter
          %i.fa.fa-comment-o{"aria-hidden" => "true"}
          %span#comments.g-popup-reviews__count
        #comment-list.g-popup-reviews__comments
    #img-block.g-popup-reviews__img-wrapper

#send-popup.g-popup-wrapper
  .g-popup
    %a.g-popup__close{:href => "javascript:void(0)"}
    .g-popup__content
      =render partial: '/front/users/login_partial'

#success-review.g-popup-wrapper
  .g-popup
    %a.g-popup__close{:href => "javascript:void(0)"}
    .g-popup__content
      %h2.g-popup__title Спасибо за ваш отзыв

#success-subscriber.g-popup-wrapper
  .g-popup
    %a.g-popup__close{:href => "javascript:void(0)"}
    .g-popup__content
      %h2.g-popup__title Спасибо за подписку

#successful_payment.g-popup-wrapper
  .g-popup
    %a.g-popup__close{:href => "javascript:void(0)"}
    .g-popup__content
      %h2.g-popup__title Оплата прошла успешно! Нажмите на "Завершить заказ".

#unsuccessful_payment.g-popup-wrapper
  .g-popup
    %a.g-popup__close{:href => "javascript:void(0)"}
    .g-popup__content
      %h2.g-popup__title К сожалению, оплата не прошла!
