.uzhindoma-hr
%footer.page-foot.section-inset-4.uzhindoma-footer
  %section.footer-content
    .container
      .row.text-left.clearleft-custom
        .col-xs-12.col-sm-6.col-lg-4.text-black
          .row
            %i
              =image_tag "custom_images/wa_v2_64.png"

          .row
            %p.text-black Напишите нам!
          .row
            %h4.text-uzhindoma-blue
              =Setting.first.phone
          .row
            %p.text-black Мы на связи с 9 до 22

          / %ul.well6.offset-5
          /   %li
          /     =link_to Setting.first.facebook, class: 'text-gray small' do
          /       %span.icon.icon-xs.icon-info-2.fa-facebook.postfix-1>
          /       Мы на Facebook
          /   %li
          /     =link_to Setting.first.vkontakte, class: 'text-gray small' do
          /       %span.icon.icon-xs.icon-info-2.fa-vk.postfix-1>
          /       Мы вконтакте
          /   %li
          /     =link_to Setting.first.instagram, class: 'text-gray small' do
          /       %span.icon.icon-xs.icon-warning.fa-instagram.postfix-1>
          /       Мы в инстаграме

        .col-xs-12.col-sm-6.col-lg-4
          .white-link
            =link_to 'Вопрос-ответ', uznat_bolshe_path
          .white-link
            %a{:href => "blog-post.html"} Вакансии
          .white-link
            =link_to 'Сотрудничество', '#'
          .white-link
            =link_to 'Доставка и оплата', uznat_bolshe_path

          .row
            .pull-sm-center.text-black.text-center
              .col-xs-8.col-xs-offset-2
                %ul.list-inline.offset-3
                  %li
                    =link_to Setting.first.facebook do
                      =image_tag "custom_images/fb_64.png"
                  %li
                    =link_to Setting.first.vkontakte do
                      =image_tag "custom_images/vk_64.png"
                  %li
                    =link_to Setting.first.instagram do
                      =image_tag "custom_images/ig_64.png"
              Вступайте в наш клуб кулинаров!



        .col-xs-12.col-sm-6.col-lg-4
          %p.text-black Напишите нам, как мы можем улучшить наш сервис.
          / RD Mailform
          %form.rd-mailform{:action => "bat/rd-mailform.php", "data-form-type" => "subscribe", "data-result-class" => "rd-mailform-validate", :method => "post"}
            .row
              .col-xs-6
                %input{"data-constraints" => "@NotEmpty", :name => "name", :placeholder => "Имя", :type => "text"}
              .col-xs-6
                %input{"data-constraints" => "@NotEmpty @Email", :name => "email", :placeholder => "Почта", :type => "text"}
            .row
            %textarea{"data-constraints" => "@NotEmpty", :name => "complaint", :placeholder => "Ваш отзыв", :type => "text"}
            %button.btn.btn-sm.btn-min-width.btn-success-mod-uzhindoma-dark Отправить
        
    / {%FOOTER_LINK}