-if request.fullpath == "/"
  -@div = "rd-navbar-wrap bg-transparent rd-navbar-wrap-mod-1"
-else
  -@div = "rd-navbar-wrap bg-transparent"
#ud-site-header
  .ud-custom-logo
    =link_to root_path, class: 'brand-name' do
      =image_tag "custom_images/logo.png"

=content_tag(:div, class: @div) do
  %nav.rd-navbar{"data-layout" => "rd-navbar-fixed", "data-lg-layout" => "rd-navbar-static", "data-md-layout" => "rd-navbar-fullwidth", "data-sm-layout" => "rd-navbar-fullwidth"}
    / (data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout='#{rd_navbar_data_ajuster}' )
    .rd-navbar-top-panel.bg-primary
      .rd-navbar-inner
        %button.rd-navbar-collapse-toggle{"data-rd-navbar-toggle" => ".list-inline", :type => "submit"}
          %span
        %a.fa-envelope{:href => "mailto:#"} info@demolink.org
        %a.fa-mobile-phone.preffix-2{:href => "callto:#"} 1-800-1234-567
        %ul.list-inline.pull-right
          %li
            %a.fa-facebook{:href => "#"}
          %li
            %a.fa-twitter{:href => "#"}
          %li
            %a.fa-pinterest-p{:href => "#"}
          %li
            %a.fa-vimeo{:href => "#"}
          %li
            %a.fa-google-plus{:href => "#"}
          %li
            %a.fa-rss{:href => "#"}
          %li.text-left
            %a.fa-envelope{:href => "mailto:#"} info@demolink.org
          %li.text-left
            %a.fa-mobile-phone{:href => "callto:#"} 1-800-1234-567
    .rd-navbar-inner
      / RD Navbar Panel
      .rd-navbar-panel
        / RD Navbar Toggle
        %button.rd-navbar-toggle{"data-rd-navbar-toggle" => ".rd-navbar-nav-wrap", :type => "submit"}
          %span
        / RD Navbar Brand
        .ud-custom-logo

      .rd-navbar-nav-wrap
        / RD Navbar Search
        =link_to Setting.first.instagram do
          .ud-custom-icon.ud-right-0
            =image_tag "custom_images/ig.png"
          
        =link_to edit_user_registration_path, method: :get do
          .ud-custom-icon.ud-right-50
            =image_tag "custom_images/yt.png"
        =link_to Setting.first.vkontakte do
          .ud-custom-icon.ud-right-100
            =image_tag "custom_images/vk.png"
        =link_to Setting.first.facebook do
          .ud-custom-icon.ud-right-150
            =image_tag "custom_images/fb.png"
        
        / RD Navbar Nav
        %ul.rd-navbar-nav
          %li
            =nav_link 'ГЛАВНАЯ', root_path
          %li
            =nav_link 'УЗНАТЬ БОЛЬШЕ', uznat_bolshe_path
          %li
            =nav_link "НОВОЕ МЕНЮ", dinner_index_path
          %li
            =link_to 'БЫСТРЫЙ ЗАКАЗ', "#", data: {target: '#myModal', toggle: 'modal'}
            / RD Navbar Dropdown


