%body
  %header.g-header
    .g-wrapper.g-header__wrapper
      =link_to root_path, class: 'g-logo', method: :get do
        =image_tag "header/logo.png", class: "g-logo__img"
      .g-mobile-controls.g-mobile
        %a.g-menu__link.g-menu__link_nomargin{:href => "#"}
          %i.g-icon.g-icon_login
        #menu-button.g-menu-button
          .g-menu-button__line
      #menu.g-menu-wrapper.g-mobile-hide
        %nav.g-menu
          =nav_link "Главная", root_path 
          =nav_link "Узнать больше", uznat_bolshe_path
          =nav_link "Новое меню", dinner_index_path 

        %nav.g-menu.g-menu_social
          =link_to Setting.first.instagram, target: "_blank", class: "g-menu__link" do
            %i.g-icon.g-icon_inst
          -if user_signed_in?
            =link_to "#{current_user.first_name} #{current_user.second_name}", edit_user_registration_path, class: "g-menu__link g-menu__link_text g-menu__link_personal"
          -else
            =link_to edit_user_registration_path, class: "g-menu__link" do
              %i.g-icon.g-icon_login            
