%header.g-header
  .g-wrapper.g-header__wrapper
    %a.g-logo{:href => "/"}
      =image_tag "header/logo.png", class: "g-logo__img"
    #menu-button.g-menu-button
      .g-menu-button__line
    #menu.g-menu-wrapper
      %nav.g-menu
        =link_to "Главная", root_path, class: "g-menu__link"

        =link_to "Узнать больше", uznat_bolshe_path, class: "g-menu__link"

        =link_to "Новое меню", dinner_index_path, class: "g-menu__link"

      %nav.g-menu.g-menu_social
        =link_to Setting.first.instagram, class: "g-menu__link" do
          %i.g-icon.g-icon_inst
        =link_to edit_user_registration_path, class: "g-menu__link" do
          %i.g-icon.g-icon_login
        -if user_signed_in?
          =link_to current_user.first_name, edit_user_registration_path
