-if request.fullpath == '/'
	%section
		.swiper-container.swiper-slider
			.jumbotron-mod-1.text-center
				%div
					.btn-group-variant
						=link_to 'Хочу набор', dinner_index_path, method: :get, class: 'btn btn-uzhindoma btn-sm'
			.main_image_loading_screen
				=image_tag "backgrounds/slider-1_thumb.jpg", class: "ud_banner_image"


-elsif request.fullpath == '/dinner'

-elsif request.fullpath == '/uznat-bolshe'
	%section.relative.text-center
	.container
		.jumbotron.text-center

-else
	%section.relative.text-center
	.container
		.jumbotron.text-center
					


#myModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} &times;
				%h4#myModalLabel.modal-title Быстрый заказ
			.modal-body
				=render partial: 'front/orders/order_form'
			.modal-footer
				