%tr
	%td
		-Bitrix.get_productrows_for_order(order["ID"]).each do |productrow|
			=productrow["PRODUCT_NAME"]
			%br
	%td
		="#{(DateTime.strptime(order['BEGINDATE'], '%Y-%m-%dT%H:%M:%S%z')).strftime("%d/%m/%Y")}"
	%td 
		=order["OPPORTUNITY"]