/ %tr
/   %td
/     -Bitrix.get_productrows_for_order(order["ID"]).each do |productrow|
/       =productrow["PRODUCT_NAME"]
/       %br
/   %td
/     ="#{(DateTime.strptime(order['BEGINDATE'], '%Y-%m-%dT%H:%M:%S%z')).strftime("%d/%m/%Y")}"
/   %td 
/     =order["OPPORTUNITY"]

%h2.g-title-center Ваши заказы
%table#orders_table.g-table
  %thead
    %tr
      %td.g-table__date Дата заказа
      %td.g-table__number Номер заказа
      %td.g-table__type Набор
      %td.g-table__price.g-rub Стоимость,
      %td.g-table__review Оценка
  %tbody
    -orders.each do |order|
      %tr{"data-id" => "1"}
        %td 16.02.2017
        %td 198368
        %td Лайф 5x2
        %td 5 000
        %td
          %a.g-link-styled.js-estimate{:href => "javascript:void(0)"} Оценить заказ
    / %tr{"data-id" => "2"}
    /   %td 16.02.2017
    /   %td 198368
    /   %td Лайф 5x2
    /   %td 5 000
    /   %td.g-table__rating{"data-val" => "3"}
    / %tr{"data-id" => "3"}
    /   %td 16.02.2017
    /   %td 198368
    /   %td Лайф 5x2
    /   %td 5 000
    /   %td.g-table__rating{"data-val" => "4"}
    / %tr{"data-id" => "4"}
    /   %td 16.02.2017
    /   %td 198368
    /   %td Лайф 5x2
    /   %td 5 000
    /   %td.g-table__rating{"data-val" => "4"}
    / %tr{"data-id" => "5"}
    /   %td 16.02.2017
    /   %td 198368
    /   %td Лайф 5x2
    /   %td 5 000
    /   %td.g-table__rating{"data-val" => "5"}