%section.g-section.m-section.m-section_top-bg
  .g-wrapper
%section.g-section.p-section
  #personal-wrapper.g-wrapper
    %h2.g-title
      %span.g-title__text Личный кабинет
    .g-menu-toggle.g-menu-toggle_blue
      %a.js-personal-toggle.g-menu-toggle__var.g-menu-toggle__var_active{"data-id" => "profile", :href => "javascript:void(0)"}
        %span.g-menu-toggle__var-text Профиль
      %a.js-personal-toggle.g-menu-toggle__var{"data-id" => "orders", :href => "javascript:void(0)"}
        %span.g-menu-toggle__var-text Заказы
    #profile.g-personal-block
      =form_for(resource, as: resource_name, url: registration_path(resource_name), html: { id: "personal-form", class: "g-form g-form_personal", method: :put }) do |f| 
        %h2.g-form__title-center Ваши данные
        %fieldset.g-fieldset
          %label.g-form__label Имя
          =f.text_field :first_name, placeholder: "Имя", class: "g-input"
          
          %label.g-form__label Фамилия
          =f.text_field :second_name, placeholder: "Фамилия", class: "g-input"
          
          %label.g-form__label Телефон
          =f.phone_field :phone, placeholder: "Телефон", class: "g-input"

          %label.g-form__label E-mail
          =f.text_field :email, placeholder: "E-mail", class: "g-input"
        %h2.g-form__title-center Основной адрес
        .g-adress-block
          %fieldset.g-fieldset
            .g-input-wrapper.g-input-wrapper_clear
              %label.g-form__label Город
              =f.text_field :city, placeholder: "Город", class: "g-input"
              
            .g-input-wrapper.g-input-wrapper_half
              %label.g-form__label Улица
              =f.text_field :street, placeholder: "Улица", class: "g-input"
              
            .g-input-wrapper.g-input-wrapper_small
              %label.g-form__label Дом
              =f.text_field :house_number, placeholder: "Дом", class: "g-input js-input_number"
              
            .g-input-wrapper.g-input-wrapper_small.g-input-wrapper_small_nomargin
              %label.g-form__label Кв.
              =f.text_field :flat_number, placeholder: "Кв.", class: "g-input g-input_small_nomargin js-input_number"
              
            .g-input-wrapper.g-input-wrapper_clear
              %label.g-form__label Подъезд, этаж, код домофона
              =f.text_field :additional_address, placeholder: "Подъезд, этаж, код домофона", class: "g-input"
              
        / %a#add-adress.g-form__add-adress
        /   %span.g-form__add-adress-text Добавить адрес
        =f.fields_for :addresses do |builder|
          =render 'front/users/registrations/address_fields', f: builder
        =link_to_add_address_fields '', f, :addresses do
          %span.g-form__add-adress-text Добавить адрес

        .g-pass-change
          %input#pass_change.g-checkbox.g-input_hide{:name => "pass_change", :type => "checkbox"}/
          %label.g-checkbox-label{:for => "pass_change"} Изменить пароль
          %fieldset.g-fieldset.g-fieldset_pass
            .g-input-wrapper.g-input-wrapper_clear
              %label.g-form__label Новый пароль
              =f.password_field :password, placeholder: "Новый пароль", class: "g-input", autocomplete: "off"
              
            .g-input-wrapper.g-input-wrapper_clear
              %label.g-form__label Повторите новый пароль
              =f.password_field :password_confirmation, placeholder: 'Повторите новый пароль', class: "g-input", autocomplete: "off"
        =f.submit "Сохранить изменения", class: "g-btn g-btn_blue"
        
    #orders.g-personal-block.g-personal-block_hidden
      =render partial: 'devise/registrations/orders', locals: {orders: @orders}
