-@partner.errors.full_messages.each do |message|
  =content_tag(:div, message, class: "alert alert-danger")

=form_for [:admin, @partner] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Добавить нового партнера
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Описание партнера
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-4
            .fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
              .fileupload-preview.thumbnail.mb20
                -if @partner.picture?
                  =image_tag @partner.picture.partner_thumb.url
                -else
                  %img{:alt => "holder", "data-src" => "holder.js/100%x140"}
              .row
                .col-xs-7.pr5
                  %input#name2.text-center.event-name.gui-input.br-light.bg-light{:name => "name2", :placeholder => "Img Keywords", :type => "text"}
                    %label.field-icon{:for => "name2"}
                .col-xs-5
                  %span.button.btn-system.btn-file.btn-block
                    %span.fileupload-new Select
                    %span.fileupload-exists Change
                    =f.file_field :picture, id: 'fileupload', type: :file
                    / %input{:type => "file", name: 'picture'}
          .col-md-8.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.text_field :name, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Компания партнера'
                %label.field-icon{:for => "name2"}
                  %i.fa.fa-tag


          / end section
        / end section row section
        %hr.short.alt
          .section.row.mbn
            .col-sm-8
              %label.field.option.mt10
                %input{:checked => "", :name => "info", :type => "checkbox"}
                  %span.checkbox>
                  Save Customer
                  %em.small-text.text-muted - A Random Unique ID will be generated
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section