%section.g-section.m-section.m-section_top-bg
  .g-wrapper
%section.g-section.c-section
  .g-wrapper
    =form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'g-form g-form_personal'}) do |f|
      / %form.g-form.g-form_personal{:action => "#", :method => "post"}
      %h2.g-form__title-center Войти
      %fieldset.g-fieldset
        .g-input-wrapper.g-input-wrapper_clear
          %label.g-form__label Номер телефона
          =f.phone_field :phone, placeholder: "Введите номер телефона", class: "g-input"
          / %input.g-input{:name => "pass_old", :placeholder => "Старый пароль", :type => "password"}/
        .g-input-wrapper.g-input-wrapper_clear
          %label.g-form__label Ваш пароль
          =f.password_field :password, placeholder: "Введите пароль", class: "g-input"
          / %input.g-input{:name => "pass_new", :placeholder => "Новый пароль", :type => "password"}/
      %input.g-btn.g-btn_blue{:type => "submit", :value => "Войти"}/



=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .section.section-inset-1
    .container
      .row
        .col-xs-12.col-md-4.col-md-offset-4
          %section
            %h4.zero-letter-spacing.hidden Вход в систему
            .row.flow-offset-6.text-center
              #signin_phone{class: ("hidden" unless params[:phone].blank?)}
                .col-xs-12.col-sm-12.margin-bottom-30
                  =f.text_field :phone, placeholder: "Номер телефона ФАКА", data: { constraints: "@NotEmpty" }, autofocus: true, id: "standard_order_phone", class: "menu-phone-input", value: params[:phone]
              #signin_password.hidden
                .col-xs-12.col-sm-12
                  =f.password_field :password, placeholder: "Пароль", data: { constraints: "@Password" }, class: "form-input", autocomplete: "off", class: "uzhindoma-universal-input"

                .col-xs-12.col-sm-12.text-center
                  %label.mfCheckbox
                    =f.check_box :remember_me, class: 'mfCheckbox__input'
                    %span Запомнить меня
        .col-xs-12.col-sm-12.margin-bottom-30
          #send_password
            =submit_tag 'Продолжить', class: "btn btn-sm btn-success-mod-uzhindoma", id: 'reset_btn', name: 'reset', remote: true
        #signin_button.hidden
          %section.section-inset-3
            .row.offset-5
              .col-xs-12
                =f.submit 'Вход', class: 'btn btn-sm btn-success-mod-uzhindoma'
        =f.hidden_field :menu_id, value: params[:menu_id]
        =f.hidden_field :person_amount, value: params[:person_amount]
        =f.hidden_field :menu_amount, value: params[:menu_amount]
        =f.hidden_field :add_dessert, value: params[:add_dessert]
    / %section.section-inset-3
    /   .row.ud_mt_4em
    /     %h6.zero-letter-spacing Нет аккаунта?
    /   .row.offset-5
    /     =link_to 'Создать', new_user_registration_path, method: :get, class: 'btn btn-sm btn-min-width btn-success-mod-1'
#mapcontainer.hidden