// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/


// For page "Uznat Bolshe"

$(document).ready(function(){

  console.log("loaded!");
  
  var image = $('.bg-uzhindoma');
  image.css('background-image', "url(<%= image_url('backgrounds/how_it_works_hd.jpg') %>)");
  bg = image.css('background-image');

  // $downloadingImage.attr("src", "<%= image_url('backgrounds/uznat_bolshe_hd.jpg') %>");
});

// Init OWL Carousel here
  var carousel_0 = $("#owl-demo-0");
  var carousel_1 = $("#owl-demo-1");
  var carousel_2 = $("#owl-demo-2");


  carousel_0.owlCarousel({
    margin:10,
    loop:true,
    autoWidth:true,
    items:4,
    navigation:true,
    navigationText: [
      "<i class='fa fa-chevron-left no-class-icon'></i>",
      "<i class='fa fa-chevron-right no-class-icon'></i>"
      ],
  });

  carousel_1.owlCarousel({
    margin:10,
    loop:true,
    autoWidth:true,
    items:4,
    navigation:true,
    navigationText: [
      "<i class='fa fa-chevron-left'></i>",
      "<i class='fa fa-chevron-right'></i>"
      ],
  });

  carousel_2.owlCarousel({
    margin:10,
    loop:true,
    autoWidth:true,
    items:4,
    navigation:true,
    navigationText: [
      "<i class='fa fa-chevron-left'></i>",
      "<i class='fa fa-chevron-right'></i>"
      ],
  });

 $(".fancybox").fancybox({
        beforeShow : function(){
   this.title = "<h4>" + this.title + " </h4><p> " + $(this.element).data("caption") + "</p>";
  },
        openEffect  : 'none',
        closeEffect : 'none',

        helpers : {
          title : {
            type : 'over'
          }
        }
      });
// ready

  $("#owl-demo-0").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
  });

  $("#owl-demo-1").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
  });
  $("#owl-demo-2").owlCarousel({
        autoPlay: 3000,
        items : 4,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
  });
// Init End


mapboxgl.accessToken = 'pk.eyJ1Ijoic2NobmliYmEiLCJhIjoiMWEwYWI4YTA3YTAwYjVhYTY1YWZiZGFiZDk1Zjk5NGUifQ.ueMMb8kMdWxrP5N4iqx67Q';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/dark-v9',
      center: [37.5689484, 55.7491617],
  	  zoom: 7.5,
  	  hash: false,
  	  interactive: false
  });

map.on('load', function () {
    map.addSource('maine', {
        'type': 'geojson',
        'data': {
            'type': 'Feature',
            'properties': {
                'name': 'Maine'
            },
            'geometry': {
                'type': 'Polygon',
                'coordinates': [[

[36.95821, 55.514  ],
[36.97789, 55.5061 ], 
[37.04059, 55.50896],
[37.28173, 55.4355 ], 
[37.44936, 55.31938], 
[37.34918, 55.13644], 
[37.43796, 55.10902], 
[37.65583, 55.13168], 
[37.67015, 55.3328 ], 
[37.79473, 55.34216], 
[37.86232, 55.31259], 
[37.99739, 55.36467], 
[38.12697, 55.51639], 
[38.13084, 55.55239], 
[38.28868, 55.52922], 
[38.27275, 55.5927 ], 
[38.21414, 55.6433 ], 
[38.14215, 55.67443], 
[38.13597, 55.7094 ], 
[38.15138, 55.7617 ], 
[38.22328, 55.8059 ], 
[38.23201, 55.84693], 
[38.23912, 55.86513], 
[38.2215,  55.88565], 
[38.06694, 55.95804], 
[37.97071, 55.99522], 
[37.98579, 56.02405], 
[37.88772, 56.0356 ], 
[37.75709, 56.0448 ], 
[37.6213,  56.11531], 
[37.55264, 56.13215], 
[37.51762, 56.14707], 
[37.5135,  56.17575], 
[37.4826,  56.17919], 
[37.46955, 56.1597 ], 
[37.37434, 56.09336], 
[37.15005, 56.04519], 
[37.07864, 55.98991], 
[37.02164, 55.89799], 
[36.93509, 55.88116], 
[36.92122, 55.84401], 
[36.89867, 55.84241], 
[36.89787, 55.82444], 
[36.91663, 55.82221], 
[36.91455, 55.74021], 
[36.97404, 55.67989], 
[36.96593, 55.66421], 
[36.95852, 55.62993],
[36.96041, 55.58009], 
[36.96325, 55.52501]

                    ]]
            }
        }
    });

    map.addLayer({
        'id': 'route',
        'type': 'fill',
        'source': 'maine',
        'layout': {},
        'paint': {
            'fill-color': '#088',
            'fill-opacity': 0.8
        }
    });
  });

