/ Begin: Content
%section#content.animated.fadeIn
  / begin: .tray-center
  .tray.tray-center
    / dashboard tiles
    .row
      .col-sm-4.col-xl-3
        .panel.panel-tile.text-center.br-a.br-grey
          =render partial: "admin/dashboard/small_panels/ratings"
      .col-sm-4.col-xl-3
        .panel.panel-tile.text-center.br-a.br-grey
          =render partial: "admin/dashboard/small_panels/panel2_placeholder"
      .col-sm-4.col-xl-3
        .panel.panel-tile.text-center.br-a.br-grey
          =render partial: "admin/dashboard/small_panels/panel3_placeholder"
      .col-sm-3.col-xl-3.visible-xl
        .panel.panel-tile.text-center.br-a.br-grey
          =render partial: "admin/dashboard/small_panels/panel4_placeholder"
    / dashboard metric chart
    .panel
    / =render partial: "admin/dashboard/charts/chart"
    / recent activity table
    .panel
      / =render partial: "admin/dashboard/useful_info_panels/recent_activity"
    .row
      .col-md-6
        .panel
          / =render partial: "admin/dashboard/useful_info_panels/top_1_placeholder"
      .col-md-6
        / Search List
        .panel
          / =render partial: "admin/dashboard/useful_info_panels/top_2_placeholder"
