-if group[0]
  .g-post.g-post-wrapper
    =render partial: 'front/posts/post', locals: { post: group[0] }

-if group[1]
  .g-post.g-post-wrapper.g-post-wrapper_small
    =render partial: 'front/posts/post', locals: { post: group[1] }

-if group[2]
  .g-post.g-post-wrapper.g-post-wrapper_wide
    =render partial: 'front/posts/post', locals: { post: group[2] }