-if group[0 + index * 10].present?
  .g-post.g-post-wrapper
    =image_or_default_tag(group[0 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[0 + index*10].title
      %p.g-post__categories=group[0 + index * 10].blog_category.title
      %p.g-post__meta
        =truncate(group[0 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[0 + index*10]), class: "g-post__more"

.g-post-wrapper.g-post-wrapper_small
  -if group[1 + index * 10].present?
    .g-post.g-post_small
      =image_or_default_tag(group[1 + index*10], 'nil', 'logo', class: 'g-post__img')
      .g-post__desc
        %h3.g-post__title=group[1 + index*10].title
        %p.g-post__categories=group[1 + index*10].blog_category.title
        %p.g-post__meta
          =truncate(group[1 + index*10].body, length: 100)
        =link_to "Читать далее", post_path(group[1 + index*10]), class: "g-post__more"
  -if group[2 + index * 10].present?
    .g-post.g-post_small
      =image_or_default_tag(group[2 + index*10], 'nil', 'logo', class: 'g-post__img')
      .g-post__desc
        %h3.g-post__title=group[2 + index*10].title
        %p.g-post__categories=group[2 + index*10].blog_category.title
        %p.g-post__meta
          =truncate(group[2 + index*10].body, length: 100)
        =link_to "Читать далее", post_path(group[2 + index*10]), class: "g-post__more"

-if group[3 + index * 10].present?
  .g-post.g-post-wrapper.g-post-wrapper_wide
    =image_or_default_tag(group[3 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[3 + index*10].title
      %p.g-post__categories=group[3 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[3 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[3 + index*10]), class: "g-post__more"
/ Первый ряд закончился

/ Начало второго ряда
-if group[4 + index * 10].present?
  .g-post.g-post-wrapper.g-post-wrapper_wide
    =image_or_default_tag(group[4 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[4 + index*10].title
      %p.g-post__categories=group[4 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[4 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[4 + index*10]), class: "g-post__more"

-if group[5 + index * 10].present?
  .g-post.g-post-wrapper
    =image_or_default_tag(group[5 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[5 + index*10].title
      %p.g-post__categories=group[5 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[4 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[5 + index*10]), class: "g-post__more"
-if group[6 + index * 10].present?
  .g-post.g-post-wrapper.g-post-wrapper_small
    =image_or_default_tag(group[6 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[6 + index*10].title
      %p.g-post__categories=group[6 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[6 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[6 + index*10]), class: "g-post__more"
/ Конец второго ряда

/ Начало третьего ряда
-if group[7 + index * 10].present?
  .g-post.g-post-wrapper.g-post-wrapper_wide
    =image_or_default_tag(group[7 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[7 + index*10].title
      %p.g-post__categories=group[7 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[7 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[7 + index*10]), class: "g-post__more"

-if group[8 + index * 10].present?
  .g-post.g-post-wrapper.g-post-wrapper_small
    =image_or_default_tag(group[8 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[8 + index*10].title
      %p.g-post__categories=group[8 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[8 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[8 + index*10]), class: "g-post__more"

-if group[9 + index * 10].present?
  .g-post.g-post-wrapper
    =image_or_default_tag(group[8 + index*10], 'nil', 'logo', class: 'g-post__img')
    .g-post__desc
      %h3.g-post__title=group[8 + index*10].title
      %p.g-post__categories=group[8 + index*10].blog_category.title
      %p.g-post__meta
        =truncate(group[8 + index*10].body, length: 100)
      =link_to "Читать далее", post_path(group[8 + index*10]), class: "g-post__more"
