%section.g-section.g-section_blog.g-mobile-hide
  %h1.g-blog-title Рецепты, которые нас вдохновляют
  
%section.g-section.g-blog
  .g-wrapper
    %h1.g-blog__title.g-mobile
      Рецепты, которые
      %br/
      нас вдохновляют
    .g-blog__top
      .g-blog__categories.g-categories.g-mobile-hide
        =link_to "Все", posts_path, class: "g-categories__item g-categories__item_active"
        -@categories.each do |category|
          =link_to category.title, blog_category_posts_path(category), class: "g-categories__item", method: :get
      .g-blog__categories.g-categories-select.g-mobile
        %select#adress_select.g-select{:name => "adress_id"}
          %option Все
          -@categories.each do |category|
            %option=category.title
      =form_for :posts, class: "g-blog-search", method: :get do |f|
        =text_field_tag :keywords, nil, placeholder: "Поиск по блогу", class: "g-blog-search__input"
        =submit_tag "", class: "g-blog-search__submit"
        / %input.g-blog-search__input{:placeholder => "Поиск по блогу", :type => "text"}/
        / %input.g-blog-search__submit{:type => "submit", :value => ""}/
    .g-blog__posts
      -if @result_text
        %h2=@result_text
      / -@posts.in_groups_of(10).each_with_index do |group, index|
      /   =render partial: 'front/posts/listing', locals: {group: group, index: index}

      -@posts.each_with_index do |post, index|
        -next if get_second_blog_element(index)
        =render partial: 'front/posts/listing_new', locals: {post: post, index: index}
    =render partial: "pager", locals: { keywords: @keywords, page: @page }