%section.g-section.g-single-top{:style => "background-image: url(#{@post.logo.url(:hd)});"}
  .g-wrapper
    .g-single-top__info
      %a.g-single-top__category{:href => "#"}=@post.blog_category.title
      %h1.g-single-top__title=@post.title
      %p.g-single-top__meta=truncate(@post.body, length: 200)
%section.g-section
  .g-wrapper.g-single
    .g-single__wrapper
      =link_to "Вернуться ко всем записям", posts_path, class: "g-single__back"
      .g-single__content=@post.body.html_safe
      .g-single__comments
        %h2.g-single__title-small Комментарии
        %form#comment-form.g-form.g-form_comment
          %fieldset.g-fieldset.g-fieldset_nowrap.js-add-adress
            %input.g-input{:name => "name", :placeholder => "Имя", :type => "text"}/
            %input.g-input{:name => "email", :placeholder => "E-mail", :type => "text"}/
          %fieldset.g-fieldset
            %textarea.g-input.g-input_textarea{:name => "message", :placeholder => "Ваш комментарий"}
          %fieldset.g-fieldset
            %input.g-btn.g-btn_blue{:type => "submit", :value => "Отправить"}/
        %ul.g-comments-list
          %li.g-comments-list__item
            %p.g-comments-list__name Ирина
            %p.g-comments-list__date 29 апреля в 15:43
            .g-comments-list__comment
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %li.g-comments-list__item
            %p.g-comments-list__name Олеся
            %p.g-comments-list__date 28 марта 2017
            .g-comments-list__comment
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      .g-controls
        -if @post.prev
          =link_to post_path(@post.prev), class: "g-controls__item g-controls__item_prev", method: :get do
            =image_tag @post.prev.logo.url(:mini), class: "g-controls__img"
            %span.g-controls__text Предыдущая запись
        -if @post.next
          =link_to post_path(@post.next), class: "g-controls__item g-controls__item_next", method: :get do
            =image_tag @post.next.logo.url(:mini), class: "g-controls__img"
            %span.g-controls__text Следующая запись

    .g-single__sidebar.g-sidebar
      %h2.g-sidebar__title Поделитесь рецептом с друзьями
      .g-sidebar__social
        %a.g-sidebar__social-link.g-sidebar__social-link_fb
        %a.g-sidebar__social-link.g-sidebar__social-link_vk
      %form.g-blog-search.g-blog-search_sidebar
        %input.g-blog-search__input{:placeholder => "Поиск по блогу", :type => "text"}/
        %input.g-blog-search__submit{:type => "submit", :value => ""}/
      .g-banner
        =image_tag "blog/banner.png", class: "g-banner__img"
      .g-banner
        .g-subscribe
          %h2.g-subscribe__title
            Хотите получать новые рецепты на почту?
            %span.g-subscribe__title-bold Подпишитесь!
          =image_tag "blog/subscribe_icon.png", class: "g-subscribe__img"
          / %img.g-subscribe__img{:src => "img/subscribe_icon.png"}/
          %form.g-form
            %fieldset.g-fieldset
              %input.g-input{:name => "email", :placeholder => "Ваш e-mail", :type => "text"}/
            %fieldset.g-fieldset
              %input.g-btn.g-btn_red{:type => "submit", :value => "Подписаться"}/
      .g-similar
        %h2.g-similar__title Похожие записи
        %ul.g-similar__list
          -@post.similar.each do |similar_post|
            %li.g-similar__item
              =link_to post_path(similar_post), class: "g-similar__link" do
                =image_tag similar_post.logo.url(:mini), class: "g-similar__img"
                .g-similar__info
                  %h2.g-similar__name=similar_post.title
                  %p.g-similar__category=similar_post.blog_category.title