%h1
  Привет, это я, робот Ужина Дома!

%p
  Клиент оставил заказ на сайте, но я ему сказал, что списки закрыты. Возможно ему надо перезвонить или написать смс/вотсап)
%p
  Вот его телефон:
  = @phone
%small Я убежал)