/ begin: .tray-right
%aside.tray.tray-right.tray290{"data-tray-height" => "match"}
  / menu quick links
  =form_for :orders, method: :get do |f|
    .admin-form
      %h4 Поиск
      %hr.short
        .section.mb15
          %label.field.prepend-icon{:for => "order-search"}
            =text_field_tag :keywords, nil, placeholder: "Имя или телефон", class: "gui-input", id: "#order-search"
            %label.field-icon{:for => "order-search"}
              %i.fa.fa-search
        %hr.short
          .section
            =submit_tag "Поиск", class: "btn btn-default btn-sm ph25"
  / end: .tray-right