/ Start: Topbar
%header#topbar.ph10
  .topbar-left
    %ul.nav.nav-list.nav-list-topbar.pull-left
      %li
        =link_to 'Дашборд', admin_path
      %li.active
        / =link_to get_route(params[:controller]), params[:controller].split("/")[1]
        / =link_to get_route(params[:controller]), params[:controller].split("/")
  .topbar-right.hidden-xs.hidden-sm
    =link_to new_admin_menu_path, class: "btn btn-default btn-sm fw600 ml10" do
      %span.fa.fa-plus.pr5
      Новый набор
    =link_to new_admin_recipe_path, class: 'btn btn-default btn-sm fw600 ml10' do
      %span.fa.fa-plus.pr5
      Новый рецепт
    =link_to new_admin_user_path, class: 'btn btn-default btn-sm fw600 ml10' do
      %span.fa.fa-user.pr5
      Новый пользователь
    =link_to new_admin_order_path, class: 'btn btn-default btn-sm fw600 ml10' do
      %span.fa.fa-plus.pr5
      Новый заказ
/ End: Topbar
