/ Start: Topbar-Dropdown
#topbar-dropmenu.alt.topbar-menu-open{style: "display: block;"}
  .topbar-menu.row
    .col-xs-4.col-sm-2
      %a.metro-tile.bg-primary.light{:href => "#"}
        %span.glyphicon.glyphicon-inbox.text-muted
        %span.metro-title Messages
    .col-xs-4.col-sm-2
      %a.metro-tile.bg-info.light{:href => "#"}
        %span.glyphicon.glyphicon-user.text-muted
        %span.metro-title Users
    .col-xs-4.col-sm-2
      %a.metro-tile.bg-success.light{:href => "#"}
        %span.glyphicon.glyphicon-headphones.text-muted
        %span.metro-title Support
    .col-xs-4.col-sm-2
      %a.metro-tile.bg-system.light{:href => "#"}
        %span.glyphicon.glyphicon-facetime-video.text-muted
        %span.metro-title Videos
    .col-xs-4.col-sm-2
      %a.metro-tile.bg-warning.light{:href => "#"}
        %span.fa.fa-gears.text-muted
        %span.metro-title Settings
    .col-xs-4.col-sm-2
      %a.metro-tile.bg-alert.light{:href => "#"}
        %span.glyphicon.glyphicon-picture.text-muted
        %span.metro-title Pictures
/ End: Topbar-Dropdown