/ Start: Header
%header.navbar.navbar-fixed-top.navbar-shadow.bg-info
  .navbar-branding
    %a.navbar-brand{:href => "dashboard.html"}
      %b> Ужин
      Дома
  %ul.nav.navbar-nav.navbar-left
    %li.dropdown.menu-merge
      .navbar-btn.btn-group
        =link_to root_path, class: "btn btn-sm" do
          %span.fa.fa-home.fs14.va-m
          На главную
