/ Start: Sidebar
%aside#sidebar_left.nano.nano-light.affix
  / Start: Sidebar Left Content
  .sidebar-left-content.nano-content
    / Start: Sidebar Header
    %header.sidebar-header
      / Sidebar Widget - Author
      .sidebar-widget.author-widget
        .media
          %a.media-left{:href => "#"}
            / %img.img-responsive{:src => "assets/img/avatars/3.jpg"}
          .media-body
            .media-links
              %a.sidebar-menu-toggle{:href => "#"} Пользовательское меню -
              %a{:href => "pages_login(alt).html"} Выйти
            .media-author Админ Админов
      / Sidebar Widget - Menu (slidedown)
      .sidebar-widget.menu-widget
        .row.text-center.mbn
          .col-xs-4
            %a.text-primary{"data-placement" => "top", "data-toggle" => "tooltip", :href => "dashboard.html", :title => "Dashboard"}
              %span.glyphicon.glyphicon-home
          .col-xs-4
            %a.text-info{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_messages.html", :title => "Messages"}
              %span.glyphicon.glyphicon-inbox
          .col-xs-4
            %a.text-alert{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_profile.html", :title => "Tasks"}
              %span.glyphicon.glyphicon-bell
          .col-xs-4
            %a.text-system{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_timeline.html", :title => "Activity"}
              %span.fa.fa-desktop
          .col-xs-4
            %a.text-danger{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_profile.html", :title => "Settings"}
              %span.fa.fa-gears
          .col-xs-4
            %a.text-warning{"data-placement" => "top", "data-toggle" => "tooltip", :href => "pages_gallery.html", :title => "Cron Jobs"}
              %span.fa.fa-flask
      / Sidebar Widget - Search (hidden)
      .sidebar-widget.search-widget.hidden
        .input-group
          %span.input-group-addon
            %i.fa.fa-search
          %input#sidebar-search.form-control{:placeholder => "Search...", :type => "text"}
    / End: Sidebar Header
    / Start: Sidebar Menu
    %ul.nav.sidebar-menu
      %li.sidebar-label.pt20 Управление
      %li
        =link_to admin_menus_path, method: :get do
          %span.fa.fa-calendar
          %span.sidebar-title Наборы
      %li
        =link_to admin_recipes_path, method: :get do
          %span.glyphicon.glyphicon-book
          %span.sidebar-title Рецепты
      %li
        =link_to admin_users_path, method: :get do
          %span.glyphicon.glyphicon-home
          %span.sidebar-title Клиенты
      %li
        =link_to admin_orders_path, method: :get do
          %span.fa.fa-columns
          %span.sidebar-title Заказы
      %li
        =link_to admin_partners_path, method: :get do
          %span.fa.fa-truck
          %span.sidebar-title Партнеры
      %li
        =link_to edit_admin_setting_path(1), method: :get do
          %span.glyphicon.glyphicon-fire
          %span.sidebar-title Настройки
      %li
        =link_to admin_employees_path, method: :get do
          %span.glyphicon.glyphicon-check
          %span.sidebar-title Внутренние пользователи
      %li
        =link_to admin_jobtitles_path, method: :get do
          %span.glyphicon.glyphicon-check
          %span.sidebar-title Настройки внутренних пользователей
      %li
        =link_to admin_igrams_path, method: :get do
          %span.fa.fa-instagram
          %span.sidebar-title Настройки ИГ постов
      %li
        =link_to admin_personamounts_path, method: :get do
          %span.fa.fa-cogs
          %span.sidebar-title Количества людей
      %li
        =link_to admin_promocodes_path, method: :get do
          %span.fa.fa-tags
          %span.sidebar-title Промокоды
          
      / %li.sidebar-label.pt25.pb10 User Stats
      / %li.sidebar-stat
      /   %a.fs11{:href => "#projectOne"}
      /     %span.fa.fa-inbox.text-info
      /     %span.sidebar-title.text-muted Email Storage
      /     %span.pull-right.mr20.text-muted 35%
      /     .progress.progress-bar-xs.mh20.mb10
      /       .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 35%"}
      /         %span.sr-only 35% Complete
      / %li.sidebar-stat
      /   %a.fs11{:href => "#projectOne"}
      /     %span.fa.fa-dropbox.text-warning
      /     %span.sidebar-title.text-muted Bandwidth
      /     %span.pull-right.mr20.text-muted 58%
      /     .progress.progress-bar-xs.mh20
      /       .progress-bar.progress-bar-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "45", :role => "progressbar", :style => "width: 58%"}
      /         %span.sr-only 58% Complete
      / End: Sidebar Menu
    / End: Sidebar Left Content