/ begin: .tray-right
%aside.tray.tray-right.tray290.pn{"data-tray-height" => "match"}
  / store activity timeline
  %ol.timeline-list.pl5.mt5
    %li.timeline-item
      .timeline-icon.bg-dark.light
        %span.fa.fa-tags
      .timeline-desc
        %b Michael
        Added a new item to his store:
        %a{:href => "#"} Ipod
      .timeline-date 1:25am
    %li.timeline-item
      .timeline-icon.bg-dark.light
        %span.fa.fa-tags
      .timeline-desc
        %b Sara
        Added a new item to his store:
        %a{:href => "#"} Notebook
      .timeline-date 3:05am
    %li.timeline-item
      .timeline-icon.bg-success
        %span.fa.fa-usd
      .timeline-desc
        %b Admin
        created a new invoice for:
        %a{:href => "#"} Software
      .timeline-date 4:15am
    %li.timeline-item
      .timeline-icon.bg-warning
        %span.fa.fa-pencil
      .timeline-desc
        %b Laura
        edited her work experience
      .timeline-date 5:25am
    %li.timeline-item
      .timeline-icon.bg-success
        %span.fa.fa-usd
      .timeline-desc
        %b Admin
        created a new invoice for:
        %a{:href => "#"} Apple Inc.
      .timeline-date 7:45am
    %li.timeline-item
      .timeline-icon.bg-dark.light
        %span.fa.fa-tags
      .timeline-desc
        %b Michael
        Added a new item to his store:
        %a{:href => "#"} Ipod
      .timeline-date 8:25am
    %li.timeline-item
      .timeline-icon.bg-dark.light
        %span.fa.fa-tags
      .timeline-desc
        %b Sara
        Added a new item to his store:
        %a{:href => "#"} Watch
      .timeline-date 9:35am
    %li.timeline-item
      .timeline-icon.bg-system
        %span.fa.fa-fire
      .timeline-desc
        %b Admin
        created a new invoice for:
        %a{:href => "#"} Software
      .timeline-date 4:15am
    %li.timeline-item
      .timeline-icon.bg-warning
        %span.fa.fa-pencil
      .timeline-desc
        %b Laura
        edited her work experience
      .timeline-date 5:25am
    %li.timeline-item
      .timeline-icon.bg-success
        %span.fa.fa-usd
      .timeline-desc
        %b Admin
        created a new invoice for:
        %a{:href => "#"} Software
      .timeline-date 4:15am
    %li.timeline-item
      .timeline-icon.bg-warning
        %span.fa.fa-pencil
      .timeline-desc
        %b Laura
        edited her work experience
      .timeline-date 5:25am
    %li.timeline-item
      .timeline-icon.bg-success
        %span.fa.fa-usd
      .timeline-desc
        %b Admin
        created a new invoice for:
        %a{:href => "#"} Apple Inc.
      .timeline-date 7:45am
    %li.timeline-item
      .timeline-icon.bg-dark.light
        %span.fa.fa-tags
      .timeline-desc
        %b Michael
        Added a new item to his store:
        %a{:href => "#"} Ipod
      .timeline-date 8:25am
    %li.timeline-item
      .timeline-icon.bg-dark.light
        %span.fa.fa-tags
      .timeline-desc
        %b Sara
        Added a new item to his store:
        %a{:href => "#"} Watch
      .timeline-date 9:35am
/ end: .tray-right