/ Это значит, что пользователь новенький
-if current_user.orders.count == 0

  / для существующего пользователя
  %fieldset.g-fieldset.js-add-adress
    =f.radio_button :delivery_region, "false", id: "region_true", class: "g-input_hide js-show-region", checked: true
    %label.g-input-radio{:for => "region_true"} Москва

    =f.radio_button :delivery_region, "true", id: "region_false", class: "g-input_hide js-show-region"
    %label.g-input-radio{:for => "region_false"} Московская область

  %fieldset#region.g-fieldset.g-fieldset_hidden
    =f.text_field :city, class: "g-input", placeholder: "Город"
  
  %fieldset.g-fieldset.g-fieldset_nowrap.js-add-adress
    =f.text_field :street, class: "g-input g-input_half", placeholder: "Улица"
    =f.text_field :house_number, class: "g-input g-input_small js-input_number", placeholder: "Дом"
    =f.text_field :flat_number, class: "g-input g-input_small g-input_small_nomargin js-input_number", placeholder: "Кв."
    =f.text_field :additional_address, class: "g-input", placeholder: "Подъезд, этаж, код домофона"

-else
  / Это значит, что пользователь старенький
  %fieldset.g-fieldset.g-fieldset_hidden
    %input.g-input_hide{:name => "is-exist", :type => "text", :value => "true"}/
  %fieldset.g-fieldset
    =select_tag :delivery_address, options_for_select([[@order.address, "current"]] + Order.get_addresses(current_user) + [["Добавить новый адрес", "new"]]), class: 'g-select', id: "adress_select"

  / для существующего пользователя
  %fieldset.g-fieldset.js-add-adress
    %input#region_true.g-input_hide.js-show-region{:checked => "checked", :name => "region", :type => "radio", :value => "false"}/
    %label.g-input-radio{:for => "region_true"} Москва
    %input#region_false.g-input_hide.js-show-region{:name => "region", :type => "radio", :value => "true"}/
    %label.g-input-radio{:for => "region_false"} Московская область
  %fieldset#region.g-fieldset.g-fieldset_hidden
    %input.g-input{:name => "city", :placeholder => "Город", :type => "text"}/
  %fieldset.g-fieldset.g-fieldset_nowrap.js-add-adress
    %input.g-input.g-input_half{:name => "street", :placeholder => "Улица", :type => "text"}/
    %input.g-input.g-input_small.js-input_number{:name => "house", :placeholder => "Дом", :type => "text"}/
    %input.g-input.g-input_small.g-input_small_nomargin.js-input_number{:name => "apartment", :placeholder => "Кв", :type => "text"}/
    %input.g-input{:name => "adress_desc", :placeholder => "Подъезд, этаж, код домофона", :type => "text"}/