
%section.g-section.c-section
  .g-wrapper
    %h2.g-title
      %span.g-title__text Оформление заказа
    =form_for @order, html: {id: "checkout-form", class: "g-form g-form_checkout"} do |f|
      / %form#checkout-form.g-form.g-form_checkout
      / для не существующего пользователя

      %h2.g-form__title
        -if @cu.orders.count == 0
          ="Здравствуйте! Куда доставляем заказ?"
        -else
          ="Здравствуйте, #{@cu.first_name}! Куда доставляем заказ?"

      %fieldset.g-fieldset{:style => "#{'display:none' ? current_user.orders.count > 1 : ''}"}
        =f.text_field :first_name, placeholder: "Имя", value: @cu.first_name, class: "g-input"
        =f.text_field :second_name, placeholder: "Фамилия", value: @cu.second_name, class: "g-input"
        =f.text_field :email, placeholder: "E-mail", value: @cu.email, class: "g-input"
        =f.telephone_field :phone, value: @cu.phone, class: "g-input"
      / для не существующего пользователя

      / ОБЩИЕ ПОЛЯ
      / Some hidden fields to set up order values
      =f.hidden_field :menu_id, value: @menu.id
      =f.hidden_field :menu_type, value: @menu.category.name
      =f.hidden_field :order_price, value: @menu_price
      =f.hidden_field :order_type, value: "normal"
      =f.hidden_field :payed_online, value: false
      

      =f.hidden_field :person_amount, value: (params[:people] || session[:people])
      =f.hidden_field :menu_amount, value: (params[:quantity] || session[:quantity])
      -if (params[:dessert] == "on" || session[:dessert] == "on")
        =f.hidden_field :add_dessert, value: true
      -else
        =f.hidden_field :add_dessert, value: false
      =f.hidden_field :change, value: params[:change]
      
      / для существующего пользователя
      / генерить только если пользователь существует

      =render partial: 'front/orders/new_sections/address_fields', locals: { f: f }
      
      =render partial: 'front/orders/new_sections/delivery_intervals', locals: { f: f } 
      

      %fieldset.g-fieldset
        =f.text_area :comment, id: "area", class: "g-input g-input_textarea", placeholder: "Напишите здесь, если хотите заменить свинину на курицу в стандартном меню.\n\rТакже здесь можно указать просьбу не звонить в дверь, дополнительный номер телефона, пожелания и вопросы к заказу"
      / %fieldset.g-fieldset
      / =f.text_field :pcode, class: "g-input", placeholder: "Ваш промокод (уточняйте у менеджера)"

      %fieldset.g-fieldset.g-fieldset_buttons
        %a.g-btn.g-btn_gray{:href => "/dinner"} вЕРНУТЬСЯ к меню
        =f.submit "Перейти к оплате", data: { "disable-with" => "Оформляем" }, class: "g-btn g-btn_blue"
