%h2.g-popup__title Введите код из СМС
=form_for :user, url: new_user_session_path(menu_id: params[:type]), html: {class: "g-sms-form g-form g-form_center"} do |f|
  %fieldset.g-fieldset
    =f.text_field :phone, class: "g-input_hide", value: params[:phone]
    =f.password_field :password, autocomplete: "off", class: "g-input g-input_center", id: "sms-pass"
  %a.g-link Повторно выслать пароль
  %fieldset.g-fieldset
    %input#dessert2.js-menu-input.g-checkbox.m-menu-form__hide{:name => "dessert", :type => "checkbox"}/
    %label.g-checkbox-label.m-menu-form__checkbox{:for => "dessert2"} Запомнить меня
  =submit_tag "Продолжить", class: "g-btn g-btn_blue"