.ud-custom-icon{
	display: inline-block;
	position: absolute;
	width: 32px !important;
	height: 32px;
}

.ud-right-0 {
	right: 0px;
	bottom: 35px;
}

.ud-right-50 {
	right: 50px;
	bottom: 35px;
}

.ud-right-100 {
	right: 100px;
	bottom: 35px;
}

.ud-right-150 {
	right: 150px;
	bottom: 35px;
}