.uzhindoma-universal-input {
  text-align: left;
  border: 2px solid #516aa1;
  font-size: 16px;
  border-radius: 5px;
  padding: 6px;
  // margin: 5px 20px 10px;
  font-style: italic;
  color: #b7b7b7;
  width: 100%;
}

.no-left-padding-margin {
	margin-left: 0px;
	padding-left: 0px;
}

.no-right-padding-margin {
	margin-right: 0px;
	padding-right: 0px;
}