#ud-site-header {
 // padding-top: 110px;
 // margin-bottom: 50px;
}

#ud-site-header .logo h1 img {
 width: 100%;
}

.ud-custom-logo {
 font-size: 100%;
 position: fixed;
 left: 5%;
 top: 5px;
 width: 10%;
 z-index: 10000;
}