// Place all the styles related to the front/dinner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.uzhin-doma-form {
	background-color: #f6f6f6;
	padding-bottom: 35px;
	padding-top: 20px;
}

.over {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(71, 81, 55, 0.619608);
}

.mt15 {
    margin-top: 15px;
}