// Place all the styles related to the front/menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.uzhindoma_tabs {
	display: inline-block;
	padding-right: 20px;
}

.uzhindoma-tabs-row {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

p.uzhindoma-caption-text {
	color: #fff;
	font-size: 0.8em;
}