// Place all the styles related to the front/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dimmed {
  content: " ";
  z-index: 100000;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.text-danger {
    color: #E75533;
}

.extra-small {
    font-size: 10px;
}

.payment-button-padding {
    padding-left: 31px;
    padding-right: 31px;
}

#delivery-container {
	width: 100%;
    margin-left: auto; 
    margin-right: auto;

     text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#delivery-container.radio-wrapper {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.margin-bottom-60 {
	margin-bottom: 60px;
}

.margin-top-15 {
	margin-top: 15px;
}

.padding-left-15 {
	padding-left: 15px;
}

#city_input {
	display: none;
}