// Place all the styles related to the front/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.margin-bottom-60 {
	margin-bottom: 60px;
}

.margin-top-15 {
	margin-top: 15px;
}

.padding-left-15 {
	padding-left: 15px;
}