// Big pile of shitty css just for one freaking icon
.rd-navbar-vk,
{
  transition: .3s all ease;
}

.rd-navbar-vk {
  display: inline-block;
  font: 400 18px/36px "FontAwesome";
}

.rd-navbar-vk, .rd-navbar-vk:before, .rd-navbar-vk:after {
  text-align: center;
  width: 36px;
  height: 36px;
}

.rd-navbar-vk:before, .rd-navbar-vk:after {
  position: absolute;
  left: 0;
  top: 0;
}

.rd-navbar-vk:before {
  content: '\f189';
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-vk:after {
  content: '\f189';
  transition: .3s all ease;
  -webkit-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-vk.active:before {
  -webkit-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-vk.active:after {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

.rd-navbar-fixed .rd-navbar-vk, .rd-navbar-fixed .rd-navbar-vk:before {
  width: 48px;
  line-height: 48px;
}

.rd-navbar-static .rd-navbar-vk, .rd-navbar-fullwidth .rd-navbar-vk {
  position: relative;
  z-index: 2;
}

.rd-navbar-static .rd-navbar-vk, .rd-navbar-fullwidth .rd-navbar-vk {
  position: absolute;
  right: 95px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #157EA5;
  background-color: transparent;
  border: none;
}

.rd-navbar-static .rd-navbar-vk:focus, .rd-navbar-fullwidth .rd-navbar-vk:focus {
  outline: 0;
}

.rd-navbar-static .rd-navbar-vk:before, .rd-navbar-static .rd-navbar-vk:after, .rd-navbar-fullwidth .rd-navbar-vk:before, .rd-navbar-fullwidth .rd-navbar-vk:after {
  width: 100%;
}

.rd-navbar-static.rd-navbar--is-clone .rd-navbar-vk,
.rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-vk {
  color: #9F9F9F;
}

.rd-navbar-fixed .rd-navbar-search-form, .rd-navbar-fixed .rd-navbar-vk {
  right: 4px;
}

.rd-navbar-fixed .rd-navbar-vk {
  display: none;
  position: fixed;
  top: 4px;
  right: 56px;
  font-family: 'Material Icons';
  width: 48px;
  height: 48px;
  z-index: 18;
  color: #157EA5;
}

.rd-navbar-fixed .rd-navbar-vk.active {
  opacity: 0;
  visibility: hidden;
}

.rd-navbar-fixed .rd-navbar-vk {
  position: fixed;
  top: 4px;
  height: 48px;
  z-index: 1000;
  background-color: transparent;
  border: none;
}

.rd-navbar-fixed .rd-navbar-vk:focus {
  outline: none;
}

.rd-navbar-sidebar .rd-navbar-vk {
  display: none;
}

.rd-navbar.static-position:first-child .rd-navbar-vk {
  color: #212121;
}

.rd-navbar-vk {
  width: 42px;
  height: 38px;
  border-radius: 6px;
  text-align: center;
  font-size: 22px;
  line-height: 37px;
  background-color: transparent;
}

.rd-navbar-vk:hover {
  background-color: #157EA5;
  color: #fff;
}

.bg-transparent .rd-navbar-vk,
{
  // removed as of 27/08/2016 because we need blue icons
  // color: #fff;
}

.header-center .rd-navbar-vk {
  color: #157EA5;
}

.header-center .rd-navbar-vk:hover {
  color: #fff;
}

// End of big pile of shit css