// Place all the styles related to the front/static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.no-class-icon{
    color: transparent !important;
}

.video-text {
    padding-left: 40px;
    font-weight: 800;
}
.uzhidoma-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.zero-letter-spacing {
    letter-spacing: 0px;
    font-weight: 400;
}

.margin-top-100 {
    margin-top: 100px;
}

#owl-demo-0 .item img{
        display: block;
        width: 100%;
        height: auto;
        padding-right: 32px;
        margin-left: 25px;
    }
#owl-demo-1 .item img{
        display: block;
        width: 100%;
        height: auto;
        padding-right: 32px;
        margin-left: 25px;
    }
#owl-demo-2 .item img{
        display: block;
        width: 100%;
        height: auto;
        padding-right: 32px;
        margin-left: 25px;
    }
.uzhindoma-home-pic-description {
    margin-right: 0;
    position: absolute;
    display: none;
    bottom: 0;
    padding: 20px 10px;
    margin-left: 0em;
    color:#000;
    background: rgba(255,255,255,0.7);
    // Added on 30/11/2016
    width: 100%;
    text-align: left;
}
.owl-item:hover > .uzhindoma-home-pic-description {
    display:block!important;
}
.uzhindoma-list > ul{
    list-style-type: initial;
    line-height: 1.1em;
    letter-spacing: 0px;
}

.uzhindoma-list > ul > li{
    margin-bottom: 10px;
}
.uzhindoma-no-wrap {
    white-space: nowrap;
}

.text-uzhindoma-blue {
    color: #446DA1;
}
.margin-top-30 {
    margin-top: 30px;
}
.padding-top-35 {
    padding-top: 35px;
}

.padding-left-20 {
    padding-left: 20px;
}

.uzhindoma-why-container{

}
.uzhindoma-why-block-text{
    background-color: #E4EEF8;
}

.uzhindoma-home-pic-description{
    // margin-right: 0.8em;
    
    margin-left: 8px;
}

.team_row {
	margin-left: -30px;
	margin-right: -30px;
}

#map {
	position: static;  
	width:100%;
	height: 400px;
}

.mapboxgl-canvas {
	position: static !important;
}


.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}