%main.page-content
	-if @current_menus.empty?
		%section.section.section-inset-1
			.container
				%h2.text-center Актуальное меню
				%hr
				.col-xs-12.col-sm-12.col-lg-12
					.thumbnail.thumbnail-mod-1
						%span.icon.icon-success.icon-lg.icon-mod-1.fa-desktop
						.caption
							%h4
								Извините!
							%p Что-то пошло не так и меню текущей неделе потерялось на нашей кухне. Мы очень быстро это поправим, обещаем :)
	-else
		=render 'front/menus/show_menu'
			