=form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
	.section.section-inset-1
		.container
			.row
				.col-xs-12.col-md-4.col-md-offset-4
					%section
						%h4.zero-letter-spacing.hidden Вход в систему
						.row.flow-offset-6.text-center
							#signin_phone{class: ("hidden" unless params[:phone].blank?)}
								.col-xs-12.col-sm-12.margin-bottom-30
									=f.text_field :phone, placeholder: "Номер телефона ФАКА", data: { constraints: "@NotEmpty" }, autofocus: true, id: "standard_order_phone", class: "menu-phone-input", value: params[:phone]
							#signin_password.hidden
								.col-xs-12.col-sm-12
									=f.password_field :password, placeholder: "Пароль", data: { constraints: "@Password" }, class: "form-input", autocomplete: "off", class: "uzhindoma-universal-input"

								.col-xs-12.col-sm-12.text-center
									%label.mfCheckbox
										=f.check_box :remember_me, class: 'mfCheckbox__input'
										%span Запомнить меня
				.col-xs-12.col-sm-12.margin-bottom-30
					#send_password
						=submit_tag 'Продолжить', class: "btn btn-sm btn-success-mod-uzhindoma", id: 'reset_btn', name: 'reset', remote: true
				#signin_button.hidden
					%section.section-inset-3
						.row.offset-5
							.col-xs-12
								=f.submit 'Вход', class: 'btn btn-sm btn-success-mod-uzhindoma'
				=f.hidden_field :menu_id, value: params[:menu_id]
				=f.hidden_field :person_amount, value: params[:person_amount]
				=f.hidden_field :menu_amount, value: params[:menu_amount]
				=f.hidden_field :add_dessert, value: params[:add_dessert]
		/ %section.section-inset-3
		/ 	.row.ud_mt_4em
		/ 		%h6.zero-letter-spacing Нет аккаунта?
		/ 	.row.offset-5
		/ 		=link_to 'Создать', new_user_registration_path, method: :get, class: 'btn btn-sm btn-min-width btn-success-mod-1'
#mapcontainer.hidden