%section.g-section.g-section_book
  .g-wrapper.g-info-block
    %img.g-info-block__img{:src => "img/book.png"}/
    .g-info-block__text
      %h2.g-info-block__title Книга рецептов в подарок!
      %p.g-info-block__subtitle
        Любимые рецепты
        %br/
        нашего бренд-шефа Елены Чазовой
      %form.g-form.g-info-block__form
        %p.g-info-block__form-text
          Подпишитесь на наши новости
          %br/
          и мы отправим вам книгу в подарок

        %fieldset.g-fieldset
          %input.g-input{:name => "email", :placeholder => "Ваш e-mail", :type => "text"}/
        %fieldset.g-fieldset
          %input.g-btn.g-btn_blue{:type => "submit", :value => "Хочу книгу!"}/
%section.g-section.g-section_hr
  .g-wrapper
