%section.g-section.g-section_how
  .g-wrapper
    %h2.g-title
      %span.g-title__text Как это работает
    %ul.g-how
      %li.g-how__item
        =image_tag "sections/how/how_1.png", class: "g-how__img"
        %p.g-how__text Каждую неделю мы подбираем для вас интересные рецепты и составляем меню на 5 ужинов
      %li.g-how__item
        =image_tag "sections/how/how_2.png", class: "g-how__img"
        %p.g-how__text Закупаем свежие продукты высочайшего качества
      %li.g-how__item
        =image_tag "sections/how/how_3.png", class: "g-how__img"
        %p.g-how__text Отмеряем каждый ингредиент в том количестве, которое нужно по рецепту
      %li.g-how__item
        =image_tag "sections/how/how_4.png", class: "g-how__img"
        %p.g-how__text Собираем набор продуктов для каждого ужина и доставляем к вам домой
      %li.g-how__item
        =image_tag "sections/how/how_5.png", class: "g-how__img"
        %p.g-how__text Вам остаётся только приготовить ужин, как в ресторане всего, за 30 минут