%section.g-section.g-section_main.g-main
  .g-wrapper
    .g-main__wrapper
      %h1.g-main__title.g-mobile
        Наборы продуктов 
        %br с рецептами
      %h1.g-main__title.g-mobile-hide Рецепты, которые вдохновляют
      %p.g-main__text.g-mobile-hide Кулинария становится настоящим творчеством, когда все ингредиенты под рукой. Мы доставляем наборы продуктов с авторскими рецептами. С таким набором вы всегда знаете, что приготовить на Ужин Дома.
      %p.g-main__text.g-main__text_author.g-mobile-hide Елена Чазова, основатель и бренд-шеф
    %a.g-arrow
      %i.g-arrow__line.g-arrow__line_top
      %i.g-arrow__line.g-arrow__line_center
      %i.g-arrow__line.g-arrow__line_bottom
