%section.g-section.g-section_main.g-main
  .g-wrapper
    .g-main__wrapper
      %h1.g-main__title Рецепты, которые вдохновляют
      %p.g-main__text Кулинария становится настоящим творчеством, когда все ингредиенты под рукой. Мы доставляем наборы продуктов с авторскими рецептами. С таким набором вы всегда знаете, что приготовить на Ужин Дома.
      %p.g-main__text.g-main__text_author Елена Чазова, основатель и бренд-шеф