%section.g-section.g-section_video
  .g-wrapper
    .g-video
      .g-video__wrapper
        %iframe.g-video__item{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/TrSWB6AYNKM"}