=form_for [:admin, @setting] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Изменить настройки
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Общие настройки
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-4
            .fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
              .fileupload-preview.thumbnail.mb20
                %img{:alt => "holder", "data-src" => "holder.js/100%x140"}
              .row
                .col-xs-7.pr5
                  %input#name2.text-center.event-name.gui-input.br-light.bg-light{:name => "name2", :placeholder => "Img Keywords", :type => "text"}
                    %label.field-icon{:for => "name2"}
                .col-xs-5
                  %span.button.btn-system.btn-file.btn-block
                    %span.fileupload-new Select
                    %span.fileupload-exists Change
                    / =f.file_field :image, name: "pictures[]", id: 'fileupload', type: :file, multiple: true
                    / %input{:type => "file", name: 'picture'}
          .col-md-8.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.text_field :facebook, id: "facebook", class: "event-name gui-input br-light light", placeholder: 'Мы на фейсбук'
                %label.field-icon{:for => "name2"}
                  %i.fa.fa-facebook
                  
            .section.mb10
              %label.field.prepend-icon
                =f.text_field :vkontakte, id: "vkontakte", class: "event-name gui-input br-light light", placeholder: 'Мы вконтакте'
                %label.field-icon{:for => "comment"}
                  %i.fa.fa-vk
            .section.mb10
              %label.field.prepend-icon
                =f.text_field :instagram, id: "instagram", class: "event-name gui-input br-light light", placeholder: 'Мы в инстаграме'
                %label.field-icon{:for => "comment"}
                  %i.fa.fa-instagram
            .section.mb10
              %label.field.prepend-icon
                =f.text_field :phone, id: "phone", class: "event-name gui-input br-light light", placeholder: 'Наш телефон (вотсап)'
                %label.field-icon{:for => "comment"}
                  %i.fa.fa-whatsapp
            .section.mb10
              %label.field.prepend-icon.mb10
                =f.text_field :order_mail, id: "order_mail", class: "event-name gui-input br-light light", placeholder: 'Электронная почта для получения заказов'
                %label.field-icon{:for => "comment"}
                  %i.fa.fa-envelope
              .alert.alert-micro.alert-border-left.alert-info
                %i.fa.fa-info.pr10
                На данную
                %strong почту
                будут приходить уведомления о новых заказах.
                




        %hr.short.alt
          .section.row.mbn
            .col-sm-8
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section