=form_for [:admin, @category] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Добавить новую категорию
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Описание категории
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.text_field :name, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Название категории'
                %label.field-icon{:for => "name2"}
                  %i.fa.fa-tag
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.number_field :sortable, id: "name3", class: "event-name gui-input br-light light", placeholder: 'Соритровка категории (чем меньше число, тем левее будет отображаться)'
                %label.field-icon{:for => "name3"}
                  %i.fa.fa-tag
        .section.row.mbn
          .col-md-12.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "description"}
                =f.text_area :description, id: "description", class: "event-name gui-input br-light light", placeholder: 'Описание категории (например "Для легких ужинов после 18:00")', style: "height: 100px;"
                %label.field-icon{:for => "name3"}
                  %i.fa.fa-book
        .section.row.mbn
          .col-md-12.pl15
            .section.mb10
              %label.field.option.mt10
                =f.check_box :purchasable
                %span.checkbox>
                Можно купить?
                %em.small-text.text-muted - Отметье, если наборы данной категории можно купить
          .col-md-12.pl15
            .section.mb10
              %label.field.option.mt10
                =f.check_box :display_vital
                %span.checkbox>
                Показывать калории и прочее?
                %em.small-text.text-muted - Отметье, если для наборов данной категории нужно показывать калории, жиры и прочую информацию
          / end section
        / end section row section
        %hr.short.alt
          .section.row.mbn
            .col-sm-8
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section