// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require_self
*= require_tree ../../../vendor/assets/stylesheets/front/.
*= require_tree ../../../app/assets/stylesheets/front/.
*= require font-awesome
*/

.uzhindoma-container-fluid {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  // padding-left: 15px;
  // padding-right: 15px;
}

.uzhindoma-container-fluid:before, .uzhindoma-container-fluid:after {
  content: " ";
  display: table;
}

.uzhindoma-container-fluid:after {
  clear: both;
}

.uzhindoma-row {
  margin-left: 20px;
  margin-right: -30px;
}

.uzhindoma-footer-links{
  padding-left: 40px;
}

.padding-top-70{
  padding-top: 70px;
}

#uzhindoma-fast-order-button a{
  background-color: #516aa1;
  color: #fff !important;
}

#uzhindoma-fast-order-button a:hover{
  background-color: #006eb6;
  color: #fff;
}

.uzhindoma-column-container{
  margin-left: 50px;
  margin-right: 50px;
}
.uzhindoma-learn-more{
  background-image: image-url("backgrounds/how_it_works_hd.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
}

.white-link {
  padding-bottom: 10px;
}

.white-link a {
  color: black; 
}

.white-link a:hover {
  color: #b7b7b7;
}

.text-black{
  color: black !important;
}

.uzhindoma-hr {
  border-bottom: 2px solid #b7b7b7;
  margin-left: 20px;
  margin-right: 20px;
}

.uzhindoma-footer{
  background-image: image-url("custom_images/footer_v2.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}

.uzhindoma-footer-white{
  background-color: white !important;
}

.uzhindoma-instagram-item{
  padding-left: 0px !important;
  padding-right: 0px !important; 
}
.bg-uzhindoma{
  background-image: image-url("backgrounds/uznat_bolshe_thumb.jpg");
}
.btn-uzhindoma{
  background: rgba(255,255,255,0.6);
  // color: #0d264f;
  color: #006eb6;
}

.btn-uzhindoma:hover {
  color: #000;
}

.main_image_loading_screen {
  // width: 600px;
  // height: 450px;
  background-image: image-url("backgrounds/slider-1_thumb.jpg");
  // border: 1px solid black;
  // border-radius: 5px;
}

.ud_mt_25{
	margin-top: 25px;
}

.ud_mt_4em{
  margin-top: 4em;
}

.ud_ml_mr_20 {
  padding-left: 20px;
  padding-right: 20px;

}

// For embedded videos

.embed-container {
  // position: relative;
  // padding-bottom: 56.25%;
  // padding-top: 30px;
  // height: 0;
  // overflow: hidden;
  // width: 560px;
  // height: 315px;
  // margin-bottom: 12px;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed {
  // position: absolute;
  // top: 0; left: 0;
  // width: 100%;
  // height: 100%;
}

.text-uzhindoma {
  color: #0d264f;
}
// Transparent menu as requested from client
.bg-transparent-uzhindoma {
  background:rgba(255,255,255,0.8);
  margin-top: -20px;
  height: 100px; 
}

// Big pile of shitty css just for one freaking icon
.rd-navbar-instagram,
{
  transition: .3s all ease;
}

.rd-navbar-instagram {
  display: inline-block;
  font: 400 18px/36px "FontAwesome";
}

.rd-navbar-instagram, .rd-navbar-instagram:before, .rd-navbar-instagram:after {
  text-align: center;
  width: 36px;
  height: 36px;
}

.rd-navbar-instagram:before, .rd-navbar-instagram:after {
  position: absolute;
  left: 0;
  top: 0;
}

.rd-navbar-instagram:before {
  content: '\f16d';
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-instagram:after {
  content: '\f16d';
  transition: .3s all ease;
  -webkit-transform: scale(0) rotate(-90deg);
  transform: scale(0) rotate(-90deg);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-instagram.active:before {
  -webkit-transform: scale(0) rotate(90deg);
  transform: scale(0) rotate(90deg);
}

.rd-navbar:not(.rd-navbar-fixed) .rd-navbar-instagram.active:after {
  -webkit-transform: scale(1) rotate(0deg);
  transform: scale(1) rotate(0deg);
}

.rd-navbar-fixed .rd-navbar-instagram, .rd-navbar-fixed .rd-navbar-instagram:before {
  width: 48px;
  line-height: 48px;
}

.rd-navbar-static .rd-navbar-instagram, .rd-navbar-fullwidth .rd-navbar-instagram {
  position: relative;
  z-index: 2;
}

.rd-navbar-static .rd-navbar-instagram, .rd-navbar-fullwidth .rd-navbar-instagram {
  position: absolute;
  right: 140px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #157EA5;
  background-color: transparent;
  border: none;
}

.rd-navbar-static .rd-navbar-instagram:focus, .rd-navbar-fullwidth .rd-navbar-instagram:focus {
  outline: 0;
}

.rd-navbar-static .rd-navbar-instagram:before, .rd-navbar-static .rd-navbar-instagram:after, .rd-navbar-fullwidth .rd-navbar-instagram:before, .rd-navbar-fullwidth .rd-navbar-instagram:after {
  width: 100%;
}

.rd-navbar-static.rd-navbar--is-clone .rd-navbar-instagram,
.rd-navbar-fullwidth.rd-navbar--is-clone .rd-navbar-instagram {
  color: #9F9F9F;
}

.rd-navbar-fixed .rd-navbar-search-form, .rd-navbar-fixed .rd-navbar-instagram {
  right: 4px;
}

.rd-navbar-fixed .rd-navbar-instagram {
  display: none;
  position: fixed;
  top: 4px;
  right: 56px;
  font-family: 'Material Icons';
  width: 48px;
  height: 48px;
  z-index: 18;
  color: #157EA5;
}

.rd-navbar-fixed .rd-navbar-instagram.active {
  opacity: 0;
  visibility: hidden;
}

.rd-navbar-fixed .rd-navbar-instagram {
  position: fixed;
  top: 4px;
  height: 48px;
  z-index: 1000;
  background-color: transparent;
  border: none;
}

.rd-navbar-fixed .rd-navbar-instagram:focus {
  outline: none;
}

.rd-navbar-sidebar .rd-navbar-instagram {
  display: none;
}

.rd-navbar.static-position:first-child .rd-navbar-instagram {
  color: #212121;
}

.rd-navbar-instagram {
  width: 42px;
  height: 38px;
  border-radius: 6px;
  text-align: center;
  font-size: 22px;
  line-height: 37px;
  background-color: transparent;
}

.rd-navbar-instagram:hover {
  background-color: #157EA5;
  color: #fff;
}

.bg-transparent .rd-navbar-instagram,
{
  // removed as of 27/08/2016 because we need blue icons
  // color: #fff;
}

.header-center .rd-navbar-instagram {
  color: #157EA5;
}

.header-center .rd-navbar-instagram:hover {
  color: #fff;
}

.uzhindoma-home-pic-description {
    margin-right: 0.8em;
    position: absolute;
    display: none;
    bottom: 0;
    padding: 20px 10px;
    margin-left: 0em;
    background: rgba(255,255,255,0.7);
}
.owl-item:hover > .uzhindoma-home-pic-description {
    display:block!important;
}
// End of big pile of shit css