%main.page-content
  %section.bg-light.section-lg
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li
        %a{:href => "#"} Elements
      %li.active Tabs & Accordions
  .section
    .container
      .row
        .col-xs-12.col-md-8.col-md-offset-2
          %section.section-inset-1
            %h2 Меню 16/05 - 20/05
            %hr
        .col-xs-12.col-md-8
          %section.section-inset-1
            / Responsive-tabs
            .responsive-tabs.horizontal-tabs.offset-5
              %ul.resp-tabs-list
                -@categories.each do |category|
                  %li.btn.btn-success-mod-1
                    =category.name
              .resp-tabs-container
                -@categories.each do |category|
                  .text-sm-left.fadeIn.animated
                    %p
                      -category.menus.each do |cat_menu|
                        =cat_menu.price
                        =cat_menu.daterange
                        -cat_menu.recipes.each do |recipe|
                          #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
                            -recipe.pictures.each do |picture|
                              .carousel-inner{"data-lightbox" => "gallery", :role => "listbox"}
                                .item.active
                                  =link_to picture.image.url, data: {"lightbox" => "image"} do
                                    =image_tag picture.image.url
                    
                            / Wrapper for slides
                            / Thumbnails
                            %ul.thumbnails-carousel.clearfix
                              %li
                            %img{:alt => "", :src => "images/product-7.jpg"}/
                          %li
                            %img{:alt => "", :src => "images/product-9.jpg"}/
                          %li
                            %img{:alt => "", :src => "images/product-10.jpg"}/
                          %li
                            %img{:alt => "", :src => "images/product-7.jpg"}/
                          %li
                            %img{:alt => "", :src => "images/product-9.jpg"}/