-@b_personamount.errors.full_messages.each do |message|
  =content_tag(:div, message, class: "alert alert-danger")

=form_for [:admin, @b_personamount] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Добавить новое кол-во
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Описание кол-ва
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-12.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name1"}
                =f.text_field :title, id: "name1", class: "event-name gui-input br-light light", placeholder: 'Название, что бы не запутаться (например "4 человека для лайф-набора")'
                %label.field-icon{:for => "name1"}
                  %i.fa.fa-tag              
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.text_field :value, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Кол-во в числах (напрмер - 2, 4...)'
                %label.field-icon{:for => "name2"}
                  %i.fa.fa-tag
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.text_field :wordvalue, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Кол-во в словах (например - две, четыре...)'
                %label.field-icon{:for => "name2"}
                  %i.fa.fa-tag
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name4"}
                =f.number_field :sortable, id: "name4", class: "event-name gui-input br-light light", placeholder: 'Сортировка кол-ва людей. Чем меньше цифра, тем левее будет кнопка.'
                %label.field-icon{:for => "name4"}
                  %i.fa.fa-sort
        .section.row.mbn
          / ТУТ указываем на сколько меняется цена для определенного кол-ва ужинов
          =f.fields_for :dinner_amount_options do |da_builder|
            =render partial: 'dinner_amount_option_fields', locals: { f: da_builder }
          =link_to_add_fields 'Добавить опцию', f, :dinner_amount_options
          

          / end section
        / end section row section
        %hr.short.alt
          .section.row.mbn
            .col-sm-8
              %label.field.option.mt10
                %input{:checked => "", :name => "info", :type => "checkbox"}
                  %span.checkbox>
                  Save Customer
                  %em.small-text.text-muted - A Random Unique ID will be generated
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section