=form_for [:admin, @menu] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Добавить новое меню
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Параметры меню
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-4
            .fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
              .fileupload-preview.thumbnail.mb20
                -if @menu.hotpic?
                  =image_tag @menu.hotpic.mini_thumb.url
                -else
                  %img{:alt => "holder", "data-src" => "holder.js/100%x140"}
              .row
                .col-xs-12
                  %span.button.btn-system.btn-file.btn-block
                    %span.fileupload-new Select
                    %span.fileupload-exists Change
                    =f.file_field :hotpic, id: 'fileupload', type: :file
                    / %input{:type => "file", name: 'picture'}

                .col-xs-12.pr5
                  %label.field.option.mt10
                    =f.check_box :remove_hotpic
                    %span.checkbox>
                    Удалить фото?
                    %em.small-text.text-muted - удаляется только данная заглавная фотография набора. Фотографии рецептов не трогаются!
          .col-md-8.pl15
            .section.row
              %label.field.prepend-field
                =f.collection_select(:category_id, Category.all, :id, :name, {include_blank: false, :include_hidden => false, :selected => @menu.category_id}, { class: 'select2-single form-control select-info'})
                  
            .section.row
              %label.field.prepend-icon{:for => "daterangepicker1"} 
                =f.text_field :daterange, id: "daterangepicker1", class: "form-control pull-right", placeholder: 'Выбрать диапазон дат для меню'
                %label.field-icon{:for => "product-price"}
                  %i.fa.fa-calendar
                
            / Выбрать рецепты для данного меню
            .section.row
              %label.field.prepend-icon{:for => "recipe_ids"} 
                =f.collection_select(:recipe_ids, Recipe.all, :id, :name, {include_blank: false, :include_hidden => false, :selected => @menu.recipes.map(&:id)}, { class: 'select2-multiple form-control select-info select-recipes', :multiple => true})
                
            .section.row
              / Указать для рецептов их сортировку
              =f.fields_for :menurecipes do |s|
                =render partial: 'admin/menus/menu_recipes', locals: { f: s }



            .row
              .col-md-12
                / Select for how many persons this menu can be bought for
                .section.row
                  %label.field.prepend-field
                    =f.collection_select(:personamount_ids, Personamount.all, :id, :title, {include_blank: false, :include_hidden => false, :selected => @menu.personamounts.map(&:id)}, { class: 'select2-multiple form-control select-info select-personamount', :multiple => true})

            .row
              .col-md-12
                / Select for how many persons this menu can be bought for
                .section.row
                  %label.field.prepend-field
                    =f.collection_select(:delivery_ids, Delivery.all, :id, :admin_title, {include_blank: false, :include_hidden => false, :selected => @menu.deliveries.map(&:id)}, { class: 'select2-multiple form-control select-info select-deliveries', :multiple => true})
                
            .section.row
              %label.field.option.mt10
                =f.check_box :has_dessert
                %span.checkbox>
                К набору можно добавить десерт?
                %em.small-text.text-muted - если отмечено, то у пользователя будет опция добавить десерт к набору

            .section.row
              %label.field.option.mt10
                =f.check_box :has_breakfast
                %span.checkbox>
                К набору можно добавить завтрак?
                %em.small-text.text-muted - если отмечено, то у пользователя будет опция добавить завтрак к набору

            .section.row
              %label.field.prepend-icon{:for => "product-price"}
                =f.number_field :price, placeholder: "Базовая цена набора (с нулевыми опциями)", class: "gui-input"
                %label.field-icon{:for => "product-price"}
                  %i.fa.fa-rub

        / end section row section
        .section.row
          .col-md-6
            %label.field.prepend-icon{:for => "change-from"}
              =f.text_field :change_from, placeholder: "Что можно в наборе поменять? (например 'свинину')", class: "gui-input"
              %label.field-icon{:for => "change-from"}
                %i.fa.fa-cutlery
          .col-md-6
            %label.field.prepend-icon{:for => "change-to"}
              =f.text_field :change_to, placeholder: "На что можно поменять? (например на 'курицу')", class: "gui-input"
              %label.field-icon{:for => "change-to"}
                %i.fa.fa-cutlery
        .section.mb10
          %label.field.prepend-icon
            =f.text_area :description, id: "comment", class: "gui-textarea br-light bg-light", placeholder: 'Описание меню (необязательное', style: "height: 160px;"
            %label.field-icon{:for => "comment"}
              %i.fa.fa-comments
            %span.input-footer.hidden
              %strong> Hint:
              Don't be negative or off topic! just be awesome...
          / end section
        / end section row section
        %hr.short.alt
          .section.row.mbn
            .col-sm-8
              / %label.field.option.mt10
              /   %input{:checked => "", :name => "info", :type => "checkbox"}
              /     %span.checkbox>
              /     Save Customer
              /     %em.small-text.text-muted - A Random Unique ID will be generated
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section