=form_for [:admin, @menu] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Добавить новое меню
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Параметры меню
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-4
            .fileupload.fileupload-new.admin-form{"data-provides" => "fileupload"}
              .fileupload-preview.thumbnail.mb20
                -if @menu.hotpic?
                  =image_tag @menu.hotpic.mini_thumb.url
                -else
                  %img{:alt => "holder", "data-src" => "holder.js/100%x140"}
              .row
                .col-xs-12
                  %span.button.btn-system.btn-file.btn-block
                    %span.fileupload-new Select
                    %span.fileupload-exists Change
                    =f.file_field :hotpic, id: 'fileupload', type: :file
                    / %input{:type => "file", name: 'picture'}

                .col-xs-12.pr5
                  %label.field.option.mt10
                    =f.check_box :remove_hotpic
                    %span.checkbox>
                    Удалить фото?
                    %em.small-text.text-muted - удаляется только данная заглавная фотография набора. Фотографии рецептов не трогаются!
          .col-md-8.pl15
            .section.row
              %label.field.prepend-field
                =select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name), { class: 'select2-single form-control select-info'}
                  
            .section.row
              %label.field.prepend-icon{:for => "daterangepicker1"} 
                =f.text_field :daterange, id: "daterangepicker1", class: "form-control pull-right", placeholder: 'Выбрать диапазон дат для меню'
                %label.field-icon{:for => "product-price"}
                  %i.fa.fa-calendar

            .section.row
              %label.field.prepend-field
                =f.collection_select(:recipe_ids, Recipe.all, :id, :name, {include_blank: false, :include_hidden => false, :selected => @menu.recipes.map(&:id)}, { class: 'select2-multiple form-control select-info', :multiple => true})
            .section.row
              %label.field.prepend-icon{:for => "product-price"}
                =f.number_field :price, placeholder: "Цена набора", class: "gui-input"
                %label.field-icon{:for => "product-price"}
                  %i.fa.fa-rub

        / end section row section
        .section.row
          .col-md-4
            

          / end section
          .col-md-4
            %label.field.prepend-icon{:for => "product-vendor"}

          / end section
          .col-md-4
            %label.field.prepend-icon{:for => "product-sku"}

          / end section
        / end section row section
        %hr.short.alt
          .section.row.mbn
            .col-sm-8
              / %label.field.option.mt10
              /   %input{:checked => "", :name => "info", :type => "checkbox"}
              /     %span.checkbox>
              /     Save Customer
              /     %em.small-text.text-muted - A Random Unique ID will be generated
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section