-@day.errors.full_messages.each do |message|
  =content_tag(:div, message, class: "alert alert-danger")

=form_for [:admin, @day] do |f|
  .panel.mb25.mt5
    .panel-heading
      %span.panel-title.hidden-xs Добавить новое кол-во ужинов
      %ul.nav.panel-tabs-border.panel-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1_1"} Описание кол-ва ужинов
    .panel-body.p20.pb10
      .tab-content.pn.br-n.admin-form
        .section.row.mbn
          .col-md-12.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name1"}
                =f.text_field :title, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Наменования кол-ва ужинов, что бы не перепутать (например 5 ужинов для ЛАЙФ набора)'
                %label.field-icon{:for => "name1"}
                  %i.fa.fa-tag
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name1"}
                =f.text_field :value, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Кол-во в числах (например - 5, 4, 3...)'
                %label.field-icon{:for => "name1"}
                  %i.fa.fa-tag
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name2"}
                =f.text_field :wordvalue, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Кол-во в словах (например - все пять!, четыре, три...)'
                %label.field-icon{:for => "name2"}
                  %i.fa.fa-tag
          .col-md-6.pl15  
            .section.mb10
              %label.field.prepend-icon{:for => "name3"}
                =f.number_field :pricechange, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Для двух человек - на столько увеличится цена'
                %label.field-icon{:for => "name3"}
                  %i.fa.fa-rub
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name3"}
                =f.number_field :pricechange_four, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Для четырех человек - на столько увеличится цена.'
                %label.field-icon{:for => "name3"}
                  %i.fa.fa-rub
          .col-md-6.pl15
            .section.mb10
              %label.field.prepend-icon{:for => "name3"}
                =f.number_field :sortable, id: "name2", class: "event-name gui-input br-light light", placeholder: 'Сортировка кол-ва ужинов. Чем меньше цифра, тем левее будет кнопка.'
                %label.field-icon{:for => "name3"}
                  %i.fa.fa-sort

          / end section
        / end section row section
        %hr.short.alt
          .section.row.mbn
            .col-sm-8
              %label.field.option.mt10
                %input{:checked => "", :name => "info", :type => "checkbox"}
                  %span.checkbox>
                  Save Customer
                  %em.small-text.text-muted - A Random Unique ID will be generated
            .col-sm-4
              %p.text-right
                =f.submit "Сохранить", class: "btn btn-primary"
          / end section