%h2.g-title-center Ваши заказы
%table#orders_table.g-table
  %thead
    %tr
      %td.g-table__date Дата заказа
      %td.g-table__number Номер заказа
      %td.g-table__type Набор
      %td.g-table__price.g-rub Стоимость,
      %td.g-table__review Оценка
  %tbody
    -if my_orders
      -my_orders.each_with_index do |single_order, index|
        %tr{"data-id" => index+1}
          %td
            =(DateTime.strptime(single_order.created_at.to_s, '%Y-%m-%d')).strftime("%d.%m.%Y")
          %td
            =single_order.bitrix_order_id
          %td
            / Тут мы получаем массив типа ["Стандарт 5х2", "Сладкий подарок", "Тирамису"]
            -if single_order.name
              =single_order.name.split(";").join("<br/>").html_safe
            -else
              =single_order.menu_type
          %td
            =single_order.order_price
          %td
            %a.g-link-styled.js-estimate{:href => "javascript:void(0)"} Оценить заказ
    -else
      На данный момент заказов нет