.section.section-inset-1
	.container
		.responsive-tabs.horizontal-tabs.offset-5
			%ul.resp-tabs-list
				%li.btn.btn-success-mod-uzhindoma Профиль
				%li.btn.btn-success-mod-uzhindoma Заказы
				%li.btn.btn-success-mod-uzhindoma Доп. адреса
			=form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "", method: :put }) do |f|	
				.resp-tabs-container

					.text-sm-left.fadeIn.animated
						.row
							.col-xs-12.col-md-10.col-md-offset-1
								%section
									
									=devise_error_messages!
									%h6.zero-letter-spacing Ваши данные
									.row
										.col-xs-12.col-sm-6
											=f.text_field :first_name, placeholder: "Ваше имя", class: "uzhindoma-universal-input"
										.col-xs-12.col-sm-6
											=f.text_field :second_name, placeholder: "Ваша фамилия", class: "uzhindoma-universal-input"
									.row
										.col-xs-12.col-sm-6
											=f.text_field :phone, placeholder: "Ваш телефон", id: "user_phone_number", class: "uzhindoma-universal-input"
										.col-xs-12.col-sm-6
											=f.email_field :email, placeholder: "Электронная почта", data: { constraints: "@NotEmpty@Email" }, autofocus: true, class: "uzhindoma-universal-input"
										-if devise_mapping.confirmable? && resource.pending_reconfirmation?
											.info 
												Ожидаем подтверждения вашей почты:
												=resource.unconfirmed_email

									%h6.zero-letter-spacing.margin-top-30 Основой адрес доставки
									.row
										.col-xs-12.col-sm-6
											.radio-wrapper
												.uzhin_rb_menus
													=f.radio_button :delivery_region, "Москва", hidden: true, id: "delivery_region_4"
													%label{id: "delivery_region_4", :for => "delivery_region_4"} Москва
											.radio-wrapper
												.uzhin_rb_menus
													=f.radio_button :delivery_region, "Московская область", hidden: true, id: "delivery_region_5"
													%label{id: "delivery_region_5", :for => "delivery_region_5"} Московская область
										.col-xs-12.col-sm-6
											=f.text_field :city, placeholder: "Город", class: "uzhindoma-universal-input"
									.row
										.col-xs-12.col-sm-6
											=f.text_field :street, placeholder: "Улица", class: "uzhindoma-universal-input"
										.col-xs-12.col-sm-6
											=f.text_field :additional_address, placeholder: "Дополнение - подъезд, корпус, этаж, домофон", class: "uzhindoma-universal-input"
									.row
										.col-xs-12.col-sm-6
											=f.text_field :house_number, placeholder: "Номер дома", class: "uzhindoma-universal-input"
										.col-xs-12.col-sm-6
											=f.text_field :flat_number, placeholder: "Номер квартиры", class: "uzhindoma-universal-input"		

									%h6.zero-letter-spacing.margin-top-30 Поменять пароль
									.row
										.col-xs-12.col-sm-6
											=f.password_field :password, placeholder: "Новый пароль", data: { constraints: "@Password" }, class: "uzhindoma-universal-input", autocomplete: "off" 
										.col-xs-12.col-sm-6	
											=f.password_field :password_confirmation, placeholder: 'Повторите новый пароль', class: "uzhindoma-universal-input", autocomplete: "off"
						.row.text-center.margin-top-30
							=link_to 'Выйти', destroy_user_session_path, method: :delete, class: 'text-success'
					.text-sm-left.fadeIn.animated
						.row
							.col-xs-12.col-md-10.col-md-offset-1
								%section
									%h4.text-center.zero-letter-spacing Ваши заказы
									.table-responsive
										%table.table.table-striped-mod-1
											%thead
												%tr.bg-primary
													%th Набор
													%th Дата
													%th Цена
											%tbody.text-left
												-if Rails.env.production?
													-if @orders
														-@orders.each do |order|
															=render partial: 'devise/registrations/orders', locals: {order: order}
												-else
													%tr
														%td
															К сожалению, у вас ещё нет ни одного заказа. 
															%br
															=link_to 'Совершите свой первый заказ!', dinner_index_path, method: :get, class: 'text-success'
					.text-sm-left.fadeIn.animated
						.row
							.col-xs-12.col-md-10.col-md-offset-1
								%section
									%h4.text-center.zero-letter-spacing Ваши дополнительные адреса
									
									=f.fields_for :addresses do |builder|
										=render 'front/users/registrations/address_fields', f: builder
									=link_to_add_fields 'Добавить адрес', f, :addresses
				%section.section-inset-3.margin-top-30
					.col-xs-12.text-center
						=button_tag 'Сохранить данные', class: 'btn btn-sm btn-min-width btn-success-mod-uzhindoma-dark'